<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <!-- <div class="card-header card-header-danger">
                      <h4 class="card-title ">Simple Table</h4>
                      <p class="card-category"> Here is a subtitle for this table</p>
                  </div> -->
                  <div class="card-body">
                    <h3 class="m-0 font-weight-bold">Bill</h3>
                      <h4>Code here</h4>
                      <!-- code here -->


                      <!-- end -->
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
