<div *ngIf="isLoading" class="loading">
  <div class="spinner-border text-danger spinner-center" role="status"></div>
</div>
<div class="main-content">
  <div class="container-fluid">
    <div class="card custom-card">
      <div class="card-body">
        <!-- Search -->
        <mat-accordion class="example-headers-align">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title class="font-weight-bold">
                <i class="fas fa-search" style="margin-left: 0.5rem; margin-right: 0.5rem;"></i>
                Tìm kiếm đơn hàng
              </mat-panel-title>
            </mat-expansion-panel-header>
            <form [formGroup]="searchOrderDTO">
              <div class="row">
                <div class="col-6">
                  <mat-form-field appearance="outline">
                    <mat-label>Tên khách hàng</mat-label>
                    <input matInput type="text" formControlName="fullName">
                  </mat-form-field>
                </div>
                <div class="col-6">
                  <mat-form-field appearance="outline">
                    <mat-label>Mã đơn</mat-label>
                    <input matInput type="text" formControlName="id" 
                    onkeydown="javascript: return ['Backspace','Delete','ArrowLeft','ArrowRight'].includes(event.code) ? true : !isNaN(Number(event.key)) && event.code!=='Space'"
                      >
                  </mat-form-field>
                </div>
                <div *ngIf="tabIndex!=0" class="col-12">
                  <mat-form-field appearance="outline">
                    <mat-label>Mã đơn vận chuyển</mat-label>
                    <input matInput type="text" formControlName="orderCode">
                  </mat-form-field>
                </div>
              </div>
            </form>
            <!-- Button tìm kiếm -->
            <div class="row">
              <div class="col-12 d-flex justify-content-end">
                <button (click)="searchOrder()" class="btn btn-success">Tìm kiếm</button>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
        <!-- Show -->
        <div class="car1">

          <mat-tab-group class="mt-3" animationDuration="0ms" (selectedTabChange)="selectTab($event.index)">

            <mat-tab *ngFor="let s of listStatus">
              <ng-template mat-tab-label>
                <div [matBadge]="badge" matBadgeColor="warn" matBadgeOverlap="false" *ngIf="s=='Trả hàng/Hoàn tiền' && badge!=0" >
                  <span>
                    {{s}}
                  </span>
                </div>
                <div *ngIf="s=='Trả hàng/Hoàn tiền' && badge==0" >
                  <span>
                    {{s}}
                  </span>
                </div>
                <span *ngIf="s!='Trả hàng/Hoàn tiền'">
                  {{s}}
                </span>
              </ng-template>
              <mat-card *ngFor="let order of allOrder" class="border p-2 mt-3">
                <mat-card-title>
                  <div class="row m-0">
                    <div class="col-6 p-0 h4 m-0" style="font-weight: 600;">
                      {{order.orders.customer.fullname}}
                    </div>
                    <div class="col-6 h4 m-0 d-flex justify-content-end" style="font-weight: 600;">
                        Mã đơn: #{{order.orders.id}}
                    </div>
                  </div>
                </mat-card-title>
                <mat-divider inset></mat-divider>
                <mat-card-content>
                      <table>
                        <thead>
                          <tr>
                            <th class="w-50">Địa chỉ người nhận</th>
                            <th>Giá trị đơn</th>
                            <th>Trạng thái</th>
                            <th class="text-center">Thao tác</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="align-self-center">
                              <span>
                                {{order.orders.shipAddress}}
                              </span>
                              <span *ngIf="order.orders.status == 6">
                                Bán tại cửa hàng
                              </span>
                            </td>
                            <td>
                              {{order.orders.total| currency:' ':'symbol':'0.0-2'}}₫
                            </td>
                            <td>
                              <div [ngSwitch]="order.orders.status">
                                <div *ngSwitchCase="0">
                                  Chờ xác nhận
                                </div>
                                <div *ngSwitchCase="1">
                                  Chờ lấy hàng
                                </div>
                                <div *ngSwitchCase="2">
                                  Đang giao
                                </div>
                                <div *ngSwitchCase="3">
                                    Đã giao
                                </div>
                                <div *ngSwitchCase="4">
                                  Đơn hủy
                                </div>
                                <div *ngSwitchCase="5">
                                  Trả hàng/Hoàn tiền
                                </div>
                                <div *ngSwitchCase="6">
                                  Bán tại quầy
                                </div>
                                <div *ngSwitchCase="8">
                                  Chờ xác nhận
                                </div>
                                <div *ngSwitchCase="9">
                                  Đã xác nhận
                                </div>
                                <!-- <div *ngSwitchDefault>
                                    {{order.orders.status}}
                                  </div> -->
                              </div>
                            </td>
                            <td class="text-center">
                              <div *ngIf="order.orders.status==0">
                                <a class="btn-link" style="color: blue; font-weight: bold;" (click)="openPreparingDialog(order,dateShift, tabIndex)">
                                  Chuẩn bị hàng
                                </a>
                              </div>
                              <div *ngIf="order.orders.status==8">
                                <a class="btn-link" style="color: blue; font-weight: bold;"  (click)="openPreparingDialog(order,dateShift, tabIndex)">
                                  Trả hàng
                                </a>
                              </div>
                              <div *ngIf="order.orders.status!=0 && order.orders.status!=8">
                                <a class="btn-link" style="color: blue; font-weight: bold;" (click)="openPreparingDialog(order,dateShift, tabIndex)">
                                  Xem thông tin
                                </a>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </mat-card-content>
              </mat-card>
              <mat-card>
                <div class="row d-flex justify-content-end">
                  <mat-paginator #paginator class="demo-paginator" (page)="handlePageEvent($event)" [length]="length"
                    [pageSize]="pageSize" [disabled]="disabled" [showFirstLastButtons]="showFirstLastButtons"
                    [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []" [hidePageSize]="hidePageSize"
                    [pageIndex]="pageIndex" aria-label="Select page">
                  </mat-paginator>
                </div>
              </mat-card>

            </mat-tab>
          </mat-tab-group>
        </div>

      </div>
    </div>
  </div>
</div>