<div class="main">
    <div class="info">
        <div class="title">
            <b>LỊCH SỬ GIAO DỊCH</b>
        </div>
        <div class="transaction-info">
            <div class="created-date">
                <h3>- Hoá đơn ngày: 1/1/2023</h3>
            </div>
            <form class="mb-0">
                <div class="row">
                    <div class="col-4">
                        <!-- Poster Column -->
                        <div class="poster">
                            <img src="https://chieuphimquocgia.com.vn/Content/Images/0016805_0.jpeg" alt="">
                        </div>
                    </div>
                    <div class="col-8">
                        <table>
                            <thead><h4><b>KHẮC TINH CỦA QUỶ</b></h4></thead>
                            <tbody>
                                <tr>
                                    <th>Mã vé:</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>Số lượng vé:</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>Ngày chiếu:</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>Giờ chiếu:</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>Thời lượng:</th>
                                    <td> phút</td>
                                </tr>
                                <tr>
                                    <th>Phòng chiếu:</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>Vị trí ghế:</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>Loại ghế:</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>Giá tiền:</th>
                                    <td> đ</td>
                                </tr>
                                <tr>
                                    <th>Trạng thái:</th>
                                    <td>
                                        <!-- <div *ngIf="!movie.delete" >
                                            <div [ngSwitch]="movie.status">
                                              <span *ngSwitchCase=0 [style.color]="'red'"> Đã chiếu</span>
                                              <span *ngSwitchCase=1 [style.color]="'blue'"> Đang chiếu</span>
                                              <span *ngSwitchCase=2 [style.color]="'green'"> Sắp chiếu</span>
                                            </div>
                                          </div>
                                          <div *ngIf="movie.delete">
                                            Đã xoá
                                          </div> -->
                                    </td>
                                </tr>
                                <tr><hr></tr>
                                <tr>
                                    <th>TỔNG TIỀN:</th>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- end -->
                </div>
            </form>
        </div>
    </div>
</div>