td, th {
  width: 15%;
}
th{
  font-weight: bold;
  font-size: 1.2em;
  color: black;
}
.btn-color{
  background-color: orangered !important;
  color: white !important;
}

.btn-just-icon{
  font-size: 19px !important;
}

