<h1 class="text-center h3 font-weight-bold" mat-dialog-title>{{title}}</h1>
<div mat-dialog-content>

    <form class="mb-0">
        <div class="row" [formGroup]="formGroupUpdate">
            <div class="col-12">

                <!-- Hình ảnh -->
                <!-- <mat-form-field appearance="outline">
                    <mat-label>Fullname</mat-label>
                    <input type="text" formControlName="name" matInput>
                    <mat-error class="text-danger" *ngIf="formGroupUpdate.get('name')?.hasError('required') &&
                                        formGroupUpdate.get('name')?.touched">
                        Fullname can't be empty
                    </mat-error>
                </mat-form-field> -->

                <!-- Tên -->
                <mat-form-field appearance="outline">
                    <mat-label>Họ tên</mat-label>
                    <input type="text" formControlName="fullname" matInput>
                    <mat-error class="text-danger" *ngIf="formGroupUpdate.get('fullname')?.hasError('required') &&
                                        formGroupUpdate.get('fullname')?.touched">
                        Họ tên không được để trống
                    </mat-error>
                </mat-form-field>

                <!-- Username -->
                <mat-form-field appearance="outline">
                    <mat-label>Tên đăng nhập</mat-label>
                    <input type="text" formControlName="username" matInput readonly>
                </mat-form-field>

                <!-- Email -->
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input type="text" formControlName="email" matInput readonly>
                </mat-form-field>

                <!-- Birthday -->
                <mat-form-field appearance="outline">
                    <mat-label>Chọn ngày sinh</mat-label>
                    <input type="text" matInput [matDatepicker]="picker" formControlName="birthDate" matInput>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <!-- Gender -->
                <mat-form-field appearance="fill">
                    <mat-label>Giới tính</mat-label>
                    <mat-select [(value)]="selected" formControlName="gender">
                        <mat-option value="Female">Nữ</mat-option>
                        <mat-option value="Male">Nam</mat-option>
                    </mat-select>
                </mat-form-field>
                <p>Giới tính: {{selected}}</p>
                
            </div>
        </div>
    </form>


</div>
<div mat-dialog-actions class="d-flex justify-content-end">
    <button class="btn btn-success" mat-button (click)="onSubmited()">Đồng ý</button>
    <button class="btn btn-dark" mat-button mat-dialog-close>Hủy</button>
</div>