<div class="logo">
    <a routerLink="/dashboard" class="simple-text">
        <div class="logo-img">
            <img src="/assets/img/amenic.png"/>
        </div>
        Amenic
    </a>
</div>
<div class="sidebar-wrapper">
  <div *ngIf="isMobileMenu()">
    <!-- <form class="navbar-form">
      <span class="bmd-form-group">
        <div class="input-group no-border">
          <input type="text" value="" class="form-control" placeholder="Search...">
          <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
            <i class="material-icons">search</i>
            <div class="ripple-container"></div>
          </button>
        </div>
      </span>
    </form> -->
    <ul class="nav navbar-nav nav-mobile-menu">
        <li class="nav-item">
            <a class="nav-link" routerLink="home">
                <i class="material-icons">home</i>
                <p>
                    <span class="d-lg-none d-md-block">Trang bán vé</span>
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="openScanner(scanner)" style="cursor: pointer;">
                <i class="material-icons">qr_code_scanner</i>
                <p>
                    <span class="d-lg-none d-md-block">Quét mã</span>
                </p>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" href="javascript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">person</i>
                <p>
                    <span class="d-lg-none d-md-block">Cá nhân</span>
                </p>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" routerLink="user-profile">Thông tin cá nhân</a>
                <a class="dropdown-item" (click)="logout()">Đăng xuất</a>
            </div>
        </li>
    </ul>
  </div>
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <ng-container *ngFor="let role of menuItem.role">
                <a *ngIf="role == jwtService.getRoleFromToken()" class="nav-link" [routerLink]="[menuItem.path]">
                    <!-- <i class="{{menuItem.icon}}"></i> -->
                    <i class="material-icons">{{menuItem.icon}}</i>
                    <p>{{menuItem.title}}</p>
                </a>
            </ng-container>
        </li>
    </ul>
</div>
<ng-template #scanner>

    <div class="scanner-shell" [hidden]="!hasDevices">

        <!-- <header>
            <mat-form-field appearance="fill">
                <select matNativeControl matInput (change)="onDeviceSelectChange($event.target.value)">
                    <option value="" [selected]="!currentDevice">Không có thiết bị nào được chọn</option>
                    <option *ngFor="let device of availableDevices" [value]="device.deviceId"
                            [selected]="currentDevice && device.deviceId === currentDevice.deviceId">{{device.label}}</option>
                </select>
            </mat-form-field>
        </header> -->

        <zxing-scanner [torch]="torchEnabled"
                       [(device)]="currentDevice"
                       (scanSuccess)="onCodeResult($event)"
                       [tryHarder]="tryHarder"
                       (permissionResponse)="onHasPermission($event)"
                       (camerasFound)="onCamerasFound($event)"
                       (torchCompatible)="onTorchCompatible($event)"
                       [timeBetweenScans] = "5000"
                       [formats]="['QR_CODE', 'EAN_13', 'EAN_8', 'Code128']"></zxing-scanner>

        <section class="results">
            <div>
                <span id="qrResult"></span>
            </div>
            <!-- <button mat-icon-button (click)="clearResult()">&times;</button> -->
        </section>

    </div>

    <ng-container *ngIf="hasPermission === undefined">

        <h2>Đang chờ cấp phép.</h2>

        <blockquote>
            Nếu thiết bị của bạn không có máy ảnh, sẽ không có quyền nào được yêu cầu.
        </blockquote>

    </ng-container>

    <ng-container *ngIf="hasPermission === false">

        <h2>Bạn đã từ chối cấp phép máy ảnh, chúng tôi không thể quét bất cứ thứ gì nếu không có nó. 😪</h2>

    </ng-container>

    <ng-container *ngIf="hasDevices === undefined">

        <h2>Không thể kiểm tra thiết bị.</h2>

        <blockquote>
            Điều này có thể được gây ra bởi một số lỗi bảo mật.
        </blockquote>

    </ng-container>

    <ng-container *ngIf="hasDevices === false">

        <h2>Không tìm thấy thiết bị nào.</h2>

        <blockquote>
            Thiết bị của bạn không có thiết bị đa phương tiện nào được đính kèm.
        </blockquote>

    </ng-container>

    <div class="col-12 mt-3" style="text-align: center">
        <button type="button" (click)="this.scanner2.close()"  class="btn btn-danger">Đóng</button>
    </div>
</ng-template>

<div id="demo">
</div>
