<div *ngIf="isLoading" class="loading">
  <div class="spinner-border text-danger spinner-center" role="status"></div>
</div>
<div class="main-content">
  <div class="container-fluid">
    <div class="card custom-card">
      <mat-card-title class="text-center mt-3">
        <span class="h2 font-weight-bold text-center">Nhập hàng</span>
      </mat-card-title>
      <div class="card-body p-5">
          <div class="row d-flex justify-content-end">
            <div class="col-12 d-flex justify-content-end">
              <button class="btn btn-success font-weight-bold" (click)="openImportExcel(productId)">
                <i class="fas fa-file-import"></i>
                Import excel
              </button>
            </div>
          </div>
          <div >
          <div class="row">
            <div class="col-12">
              <span class="h3 font-weight-bold">Chọn màu sắc</span>
            </div>
            <div class="col-12">
              <mat-error class="text-danger font-weight-bold" *ngIf="checkColor">
                Bạn chưa chọn màu sản phẩm
              </mat-error>
            </div>
            <div class="col-10">
              <mat-form-field appearance="outline">
                <mat-label>Màu sắc sản phẩm</mat-label>
                <mat-select [(ngModel)]="colorId.id">
                  <mat-option *ngFor="let item of allColor" [value]="item.id" (click)="selectColor(item.code)">
                    {{ item.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-1">
              <input type="color" [value]="selectedColor" disabled style="height: 55px; width:55px;">
            </div>
            <div class="col-1">
              <a class="text-success h2" title="Thêm màu sắc" (click)="openDialogCreateColor()"
                style="cursor: pointer;">
                <i class="fas fa-plus"></i>
              </a>
            </div>

          </div>
        <div class="row mt-3 w-100">
          <div class="col-12">
            <span class="h3 font-weight-bold">Nhập số lượng</span>
          </div>
          <div class="col-12 font-weight-bold text-danger">
            <mat-error *ngIf="checkSize">
              Bạn cần nhập số lượng của ít nhất 1 trường
            </mat-error>
          </div>
        </div>
        <div *ngFor="let s of allSize; let index = index">
          <mat-form-field appearance="outline">
            <mat-label>
              Số lượng của size {{s.code|uppercase}}
            </mat-label>
            <input name="{{s.id}}" [(ngModel)]="quantity[index]" type="text"  currencyMask 
            [options]="{ prefix: '', thousands: ',',precision: '0' ,allowNegative :'false',max: '999999999999', align: 'left'}" 
            matInput type="text" />
          </mat-form-field>
        </div>
      </div>
        <div class="row d-flex justify-content-end align-items-end">
          <a class="btn btn-info mt-auto" mat-button (click)="createProductDetail()">
            Đồng ý
          </a>
        </div>
      </div>
    </div>

  </div>
</div>