<div class="main">
    <div class="info">
        <div class="title">
            <b>CHI TIẾT TÀI KHOẢN</b>
        </div>
        <div class="person-info">
            <form class="mb-0">
                <!-- <div class="row" [formGroup]="formGroup"> -->
                <div class="col-4">
                    <!-- Poster -->
                    <!-- <ngx-dropzone [multiple]="false" (change)="onSelect($event)">
                                <ngx-dropzone-label>
                                    <span class="material-symbols-outlined">tải ảnh lên</span>
                                </ngx-dropzone-label>
                                <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files"
                                    [file]="f" [removable]="true" (removed)="onRemove(f)" [value]="f">
                                </ngx-dropzone-image-preview>
                            </ngx-dropzone> -->
                    <!-- /Poster -->
                </div>
                <div class="col-8">

                    <!-- Tên phim -->
                    <!-- <mat-form-field appearance="outline">
                                <mat-label>Tên phim</mat-label>
                                <input type="text" formControlName="name" matInput>
                                <mat-error class="text-danger" *ngIf="formGroup.get('name')?.hasError('required') &&
                                                    formGroup.get('name')?.touched">
                                    Tên phim không được để trống
                                </mat-error>
                            </mat-form-field> -->
                    <!-- /Tên phim -->

                    <!-- Thể loại -->
                    <!-- <mat-form-field appearance="outline" id="category">
                                <mat-label>Thể loại</mat-label>
                                <mat-select formControlName="category">
                                    <mat-option *ngFor="let category of categories"
                                        [value]="category">{{category.name}}</mat-option>
                                </mat-select>
                            </mat-form-field> -->
                    <!-- /Thể loại -->

                    <!-- Quốc gia -->
                    <!-- <mat-form-field appearance="outline" id="nations">
                                <mat-label>Quốc gia</mat-label>
                                <mat-select formControlName="national">
                                    <mat-option *ngFor="let nation of nations"
                                        [value]="nation">{{nation.nameVi}}</mat-option>
                                </mat-select>
                            </mat-form-field> -->
                    <!-- /Quốc gia -->

                    <!-- Thời lượng -->
                    <!-- <mat-form-field appearance="outline">
                                <mat-label>Thời lượng</mat-label>
                                <input type="number" formControlName="time" matInput>
                                <mat-error class="text-danger" *ngIf="formGroup.get('time')?.touched">
                                    Có ký tự không hợp lệ
                                </mat-error>
                            </mat-form-field> -->
                    <!-- /Thời lượng -->

                    <!-- Ngày bắt đầu -->
                    <!-- <mat-form-field appearance="outline">
                                <mat-label>Ngày bắt đầu</mat-label>
                                <input matInput [matDatepicker]="" formControlName="">
                                <mat-datepicker-toggle matSuffix [for]=""></mat-datepicker-toggle>
                                <mat-datepicker></mat-datepicker>
                            </mat-form-field> -->
                    <!-- /Ngày bắt đầu -->

                </div>
                <!-- </div> -->
            </form>
        </div>
    </div>
</div>