.main {
        margin: 45px 0px;

        .col-3,
        .col-9 {
            padding: 0px;
        }

        .left-menu {
            ul {
                margin: 0px;
                padding: 0px;
                list-style: none;

                .menu-title {
                    background: red;
                    color: white !important;
                    font-weight: bold;
                    display: flex;
                    justify-content: center;
                }

                li {
                    height: 45px;
                    padding: 10px;
                    padding-left: 30px;
                    background: #fff;
                    margin: 2px 0px;
                    font-size: 17px;
                    color: #191818;
                    i {
                        padding-right: 10px;
                    }
                }
                li:hover{
                    background: #d4d1d1;
                }
            }
        }

        .info {
            padding-left: 40px;
            padding-top: 2px;

            .title {
                background: #191818;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 51px;
                font-size: 25px;
            }

            .person-info {
                padding: 15px;

                .title-info {
                    border-bottom: 2px dashed #c9c5c6;
                }

                .avt {
                    display: flex;
                    justify-content: center;
                    padding-top: 10px;

                    img {
                        width: 100px;
                        height: 100px;
                        border: 2px solid black;
                        border-radius: 50px;
                        overflow: hidden;
                    }
                }

                .sub-info {
                    table {
                        font-size: 17px;

                        tr {
                            height: 30px;
                        }
                    }
                }
            }
        }

    }