#img{
  position: relative;
}

#updateImg{
  position: absolute;
  bottom: 43%;
  right: 12px;
  border-radius: 50%;
  border: 1px solid #cccccc;
}

#updateImg > i {
  margin-top: 7px;
  padding: 0px 3px;
}
