<h1 mat-dialog-title class="text-center h3 font-weight-bold">Sửa thông tin sản phẩm</h1>
<div mat-dialog-content>
  
  <form [formGroup]="productFG">
    <div class="row">
      <div class="col-3 p-0">
        <div
          class="custom-dropzone"
          style="height: 360px; width: 234px;"
          ngx-dropzone
          [accept]="'image/*'"
          (change)="onSelect($event)"
        >
          <ngx-dropzone-label>
            <div>
              <img [src]="productFG.get('thumnail').value" alt="" style="width: 210px !important;
              height: 300px !important; border-radius: 2%;"> 
            </div>
          </ngx-dropzone-label>
          <ngx-dropzone-image-preview
            ngProjectAs="ngx-dropzone-preview"
            *ngFor="let f of thumnailFile"
            [file]="f"
            [removable]="true"
            (removed)="onRemove(f)"
          >
            <ngx-dropzone-label></ngx-dropzone-label>
          </ngx-dropzone-image-preview>
        </div>
      </div>
      <div class="col-9">
        <mat-form-field hidden appearance="outline">
          <mat-label>ID sản phẩm</mat-label>
          <input [readonly]="true" matInput  type="text" formControlName="id" required />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Tên sản phẩm</mat-label>
          <input matInput  type="text" formControlName="name" required />
          <mat-error class="text-danger"
                     *ngIf="productFG.get('name')?.hasError('required') &&
                            productFG.get('name')?.touched">
              Tên sản phẩm không được để trống
          </mat-error>
          <mat-error class="text-danger"
                     *ngIf="productFG.get('name')?.hasError('pattern') &&
                            productFG.get('name')?.touched">
              Tên sản phẩm không chứa ký tự đặc biệt
          </mat-error>
        </mat-form-field>
        
        <div class="row">
          <div class="col-11">
            <mat-form-field appearance="outline" formGroupName="category">
              <mat-label>Danh mục</mat-label>
              <mat-select formControlName="id">
                <mat-option
                  *ngFor="let item of categories"
                  [value]="item.id"
                >
                  {{ item.name }}
                </mat-option>
              </mat-select>
              <mat-error class="text-danger"
                         *ngIf="productFG.get('category')?.hasError('required')">
                Bạn chưa chọn danh mục sản phẩm
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-1">
            <a (click)="openDialogCreateCategory()" class="text-success h2" style="cursor: pointer">
              <i class="fas fa-plus"></i>
            </a>
          </div>
        </div>
        <mat-form-field appearance="outline">
          <mat-label>Giá</mat-label>
          <input formControlName="price" currencyMask 
            [options]="{ prefix: '', suffix: 'đ', thousands: ',',precision: '0' ,allowNegative :'false',max: '999999999999', align: 'left'}" 
            matInput type="text" />
          <mat-error class="text-danger"
                     *ngIf="productFG.get('price')?.hasError('min') &&
                            productFG.get('price')?.touched">
            Giá sản phẩm phải thấp nhất là 10.000đ
          </mat-error>
          <mat-error class="text-danger"
                     *ngIf="productFG.get('price')?.hasError('required') &&
                            productFG.get('price')?.touched">
            Giá sản phẩm không được để trống
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Trọng lượng</mat-label>
          <input formControlName="weight" currencyMask 
          [options]="{ prefix: '', suffix: ' gam', thousands: ',',precision: '0' ,allowNegative :'false',max: '999999999999', align: 'left'}" 
          matInput type="text" />
          <mat-error class="text-danger" *ngIf="productFG.get('weight')?.hasError('min') &&
                            productFG.get('weight')?.touched">
            Trọng lượng phải lớn hơn 1
          </mat-error>
          <mat-error class="text-danger" *ngIf="productFG.get('weight')?.hasError('required') &&
                            productFG.get('weight')?.touched">
            Trọng lượng không được để trống
          </mat-error>
        </mat-form-field>
        <div class="row" style="padding-left: 15px; padding-bottom: 15px;">
          <mat-label>Trạng thái</mat-label>
        </div>
          <mat-radio-group formControlName="status" aria-label="Select an option">
            <mat-radio-button [value]="1" >Đang kinh doanh</mat-radio-button>
            <mat-radio-button [value]="0" >Ngừng kinh doanh</mat-radio-button>
          </mat-radio-group>
        <mat-form-field class="mt-3" appearance="outline">
          <mat-label>Mô tả</mat-label>
          <textarea formControlName="description" matInput id="floatingInput"></textarea>
        </mat-form-field>
      </div>
    </div>
  </form>

</div>
<div mat-dialog-actions class="d-flex justify-content-end">
  <div class="row">
    <button 
    class="btn btn-info" 
    mat-button 
    cdkFocusInitial
    (click)="updateP()"
    >Đồng ý</button>
    <button (click)="cancel()" class="btn btn-dark" mat-button>Hủy</button>
  </div>
</div>

