<!-- <div *ngIf="isLoading" class="loading">
  <div class="spinner-border text-danger spinner-center" role="status"></div>
</div> -->
<h1 class="text-center h3 font-weight-bold" mat-dialog-title>Thêm hàng ghế</h1>
<div mat-dialog-content>

  <form class="mb-0">
    <div class="row" [formGroup]="formGroup">
      <div class="col-12">

        <!-- Số lượng hàng -->
        <mat-form-field appearance="outline">
          <mat-label>Số lượng hàng</mat-label>
          <input type="text" formControlName="quantityRow" matInput>
          <mat-error class="text-danger" *ngIf="formGroup.get('quantityRow')?.hasError('required') &&
                                      formGroup.get('quantityRow')?.touched">
            Số lượng hàng không được để trống
          </mat-error>
          <mat-error class="text-danger" *ngIf="formGroup.get('quantityRow')?.hasError('min') &&
                                      formGroup.get('quantityRow')?.touched">
            Số lượng hàng không được nhỏ hơn 0
          </mat-error>
        </mat-form-field>

        <!-- Số lượng ghế -->
        <mat-form-field appearance="outline">
          <mat-label>Số lượng ghế trên 1 hàng</mat-label>
          <input type="text" formControlName="quantitySeat" matInput>
          <mat-error class="text-danger" *ngIf="formGroup.get('quantitySeat')?.hasError('required') &&
                                      formGroup.get('quantitySeat')?.touched">
            Số lượng ghế trên 1 hàng không được để trống
          </mat-error>
          <mat-error class="text-danger" *ngIf="formGroup.get('quantitySeat')?.hasError('min') &&
                                      formGroup.get('quantitySeat')?.touched">
            Số lượng ghế trên 1 hàng không được nhỏ hơn 0
          </mat-error>
        </mat-form-field>

        

      </div>
    </div>
  </form>


</div>
<div mat-dialog-actions class="d-flex justify-content-end">
  <button class="btn btn-success" (click)="create()" mat-button>Đồng ý</button>
  <button class="btn btn-dark" (click)="close()" mat-button mat-dialog-close>Hủy</button>
</div>