<div *ngIf="isLoading" class="loading">
    <div class="spinner-border text-danger spinner-center" role="status"></div>
</div>
<h1 class="text-center h3 font-weight-bold" mat-dialog-title>{{title}}</h1>
<div mat-dialog-content>

    <form class="mb-0">
        <div class="row" [formGroup]="formGroup">
            <div class="col-4">
                <!-- Poster -->
                <ngx-dropzone [multiple]="false" (change)="onSelect($event)">
                    <ngx-dropzone-label>
                        <span class="material-symbols-outlined">tải ảnh lên</span>
                    </ngx-dropzone-label>
                    <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)" [value]="f">
                    </ngx-dropzone-image-preview>
                </ngx-dropzone>
                <!-- /Poster -->
                <button (click)="testimg()">testimg</button>

            </div>
            <div class="col-8">

                <!-- Tên phim -->
                <mat-form-field appearance="outline">
                    <mat-label>Tên phim</mat-label>
                    <input type="text" formControlName="name" matInput>
                    <mat-error class="text-danger" *ngIf="formGroup.get('name')?.hasError('required') &&
                                        formGroup.get('name')?.touched">
                        Tên phim không được để trống
                    </mat-error>
                </mat-form-field>
                <!-- /Tên phim -->

                <!-- Thể loại -->
                <mat-form-field appearance="outline" id="category">
                    <mat-label>Thể loại</mat-label>
                    <mat-select formControlName="category">
                        <mat-option *ngFor="let category of categories"
                            [value]="category">{{category.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- /Thể loại -->

                <!-- Quốc gia -->
                <mat-form-field appearance="outline" id="nations">
                    <mat-label>Quốc gia</mat-label>
                    <mat-select formControlName="national">
                        <mat-option *ngFor="let nation of nations" [value]="nation">{{nation.nameVi}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- /Quốc gia -->

                <!-- Thời lượng -->
                <mat-form-field appearance="outline">
                    <mat-label>Thời lượng</mat-label>
                    <input type="number" formControlName="time" matInput>
                    <mat-error class="text-danger" *ngIf="formGroup.get('time')?.touched">
                        Có ký tự không hợp lệ
                    </mat-error>
                </mat-form-field>
                <!-- /Thời lượng -->

                <!-- Ngày bắt đầu -->
                <!-- <mat-form-field appearance="outline">
                    <mat-label>Ngày bắt đầu</mat-label>
                    <input type="date" formControlName="startDate" matInput>
                </mat-form-field> -->
                <!-- /Ngày bắt đầu -->

                <mat-form-field appearance="outline">
                    <mat-label>Ngày bắt đầu</mat-label>
                    <input matInput [matDatepicker]="startDate" formControlName="startDate">
                    <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                    <mat-datepicker #startDate></mat-datepicker>
                </mat-form-field>

                <!-- Ngày kết thúc -->
                <!-- <mat-form-field appearance="outline">
                    <mat-label>Ngày kết thúc</mat-label>
                    <input type="date" formControlName="endDate"  matInput>
                </mat-form-field> -->
                <mat-form-field appearance="outline">
                    <mat-label>Ngày kết thúc</mat-label>
                    <input matInput [matDatepicker]="endDate" formControlName="endDate">
                    <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                    <mat-datepicker #endDate></mat-datepicker>
                </mat-form-field>
                <!-- /Ngày kết thúc -->

                <!-- Mô tả -->
                <mat-form-field appearance="outline">
                    <mat-label>Mô tả</mat-label>
                    <textarea type="text" formControlName="summary" cols="40" rows="5" matInput>
                    <!-- <mat-error class="text-danger" *ngIf="formGroup.get('name')?.hasError('required') &&
                                        formGroup.get('name')?.touched">
                        Tên phim không được để trống
                    </mat-error> -->
                    </textarea>
                </mat-form-field>
                <!-- /Mô tả -->
            </div>
        </div>
    </form>


</div>
<div mat-dialog-actions class="d-flex justify-content-end">
    <button class="btn btn-success" mat-button (click)="onSubmit()">Đồng ý</button>
    <button class="btn btn-dark" mat-button mat-dialog-close>Hủy</button>
</div>