<div class="text-center">
    <h6 class="main-content-label" style="font-size: 26px;">{{ title }}</h6>
</div>

<!--<div *ngIf="this.dataDialog == null">-->
<!--    <label class="mt-3 fs-1 h3">{{message}}</label>-->
<!--</div>-->
<div *ngIf="this.order != null" class="row">
    <span class="h4 font-weight-bold col-12 mt-3">Thông tin người nhận</span>
    <span class="col-6">Họ tên: {{order.shipName}}</span>
    <span class="col-6">SĐT: {{order.shipPhone}}</span>
    <span class="col-12 mt-2" >Địa chỉ: {{order.shipAddress}}</span>
    <div class="col-6 mt-2">
        <div class="payment-content-item">
            <div class="">Tổng tiền hàng
            </div>
            <div class="">{{order.totalPrice |currency:' ': '':'0.0-0'}}₫</div>
        </div>
        <div class="payment-content-item">
            <div class="">Phí ship</div>
            <div class="">{{ order.freight |currency:' ': '':'0.0-0'}}₫</div>
        </div>
        <div class="payment-content-item">
            <div class="">Khách cần trả</div>
            <div class="">{{ order.totalPrice + order.freight |currency:' ': '':'0.0-0'}}₫</div>
        </div>
    </div>
</div>
<div class="text-center mt-3">
    <button class="btn btn-success me-4 ms-4" (click)="onConfirm()">
        <span><span class="fa-solid fa-check"></span> Xác nhận</span>
    </button>
    <button class="btn btn-dark" (click)="onDismiss()">
        <span><span class="fa-solid fa-xmark"></span> Đóng</span>
    </button>
</div>

