<div class="main-content">
    <div class="container-fluid">
        <div class="card custom-card">
            <div class="card-body">
                <div class="mx-2">
                    <div class="container-fluid">
                        <div class="row d-flex justify-content-between">
                            <div class="col-3  align-self-center">
                                <mat-form-field appearance="standard" class="w-100">
                                    <mat-label>Tìm kiếm</mat-label>
                                    <input type="text" (keyup)="applyFilter($event)" matInput placeholder="Tìm kiếm">
                                </mat-form-field>
                            </div>
                            <div class=" align-self-center ">
                                <button mat-raised-button color="warn" class="align-middle ms-auto" (click)="openDialogForm(TYPE_DIALOG.NEW)" >
                                    <span><span class="fa-solid fa-plus me-2"></span> Thêm mới </span></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mt-3">
                    <table mat-table  [dataSource]="dataSource"  matSort class="w-100 table-hover">

                        <ng-container matColumnDef="fullname" >
                            <th mat-header-cell *matHeaderCellDef mat-sort-header >Họ và tên </th>
                            <td mat-cell *matCellDef="let element"> {{element.fullname}} </td>
                        </ng-container>

                        <ng-container matColumnDef="photo" >
                            <th mat-header-cell *matHeaderCellDef mat-sort-header >Ảnh</th>
                            <td mat-cell *matCellDef="let element" >
                                <img src="{{element.photo}}" class="avt-circle">
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="email">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Email </th>
                            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                        </ng-container>

                        <ng-container matColumnDef="birthday">
                            <th mat-header-cell *matHeaderCellDef  mat-sort-header>Ngày sinh</th>
                            <td mat-cell *matCellDef="let element"> {{element.birthDate | date: 'dd/MM/yyyy'}} </td>
                        </ng-container>

                        <ng-container matColumnDef="phone">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Điện thoại </th>
                            <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
                        </ng-container>

                        <ng-container matColumnDef="address" >
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Địa chỉ</th>
                            <td mat-cell *matCellDef="let element">
                                {{element.address}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="role">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Chức vụ </th>
                            <td mat-cell *matCellDef="let element"> {{element.role.id == 3 ? 'Quản lý' :'Nhân viên'}}</td>
                        </ng-container>

                        <ng-container matColumnDef="status">
                            <th mat-header-cell class="align-middle" *matHeaderCellDef mat-sort-header>
                                <span>Trạng thái</span>
                            </th>
                            <td class="font-weight-bold" mat-cell *matCellDef="let element" [class]="element.status == 1 ? 'text-success' : 'text-danger'">
                                {{element.status == 1 ? ' Đang làm' : ' Nghỉ làm'}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="control">
                            <th class="text-center" mat-header-cell *matHeaderCellDef>Thao tác</th>
                            <td class="text-center" mat-cell *matCellDef="let element">
                                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                    <i class="fas fa-ellipsis-v"></i>
                                  </button>
                                  <mat-menu #menu="matMenu">
                                    <button mat-menu-item (click)="openDialogForm( TYPE_DIALOG.UPDATE , element)">
                                        <span>Sửa thông tin</span>
                                      </button>
                                      <button *ngIf="this.storageService.getIdFromToken() !== element.id" mat-menu-item (click)="openDialogDelete( element.status , element)">
                                        <span>{{element.status == 2 ? 'Kích hoạt' : 'Hủy tài khoản'}}</span>
                                      </button>
                                  </mat-menu>
                                
                                
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="4">không có dữ liệu</td>
                        </tr>
                    </table>

                    <mat-paginator [pageSizeOptions]="[ 10 , 15 , 20]"
                                   showFirstLastButtons
                                   aria-label="Select page of periodic elements">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>



