<form class="row mt-4" [formGroup]="formShow">
    <mat-form-field appearance="outline" class=" p-0 col-3">
        <mat-label>Loại tìm kiếm</mat-label>
        <mat-select formControlName="type">
            <mat-option (click)="onType(1)" [value]="1">Báo cáo theo năm</mat-option>
            <mat-option (click)="onType(2)" [value]="2">Báo cáo theo tháng</mat-option>
            <mat-option (click)="onType(3)" [value]="3">Bán cáo theo ngày</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="col-3" appearance="outline" *ngIf="type == 3">
        <mat-label>Từ ngày</mat-label>
        <input matInput [matDatepicker]="startDate" formControlName="startDate">
        <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
        <mat-datepicker #startDate></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="col-3" appearance="outline" *ngIf="type == 3">
        <mat-label>Đến ngày</mat-label>
        <input matInput [matDatepicker]="endDate" formControlName="endDate">
        <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
        <mat-datepicker #endDate></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-2" *ngIf="type == 2">
        <mat-label>Năm</mat-label>
        <mat-select formControlName="year">
            <mat-option *ngFor="let x of listYear" [value]="x">{{x}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-2" *ngIf="type == 1">
        <mat-label>Từ năm</mat-label>
        <mat-select formControlName="startYear">
            <mat-option *ngFor="let x of listYear" [value]="x">{{x}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-2" *ngIf="type == 1">
        <mat-label>Đến năm</mat-label>
        <mat-select formControlName="endYear">
            <mat-option *ngFor="let x of listYear" [value]="x">{{x}}</mat-option>
        </mat-select>
    </mat-form-field>

    <div class="col-12 p-0">
        <button type="button" mat-button class="btn-color" (click)="onSearch()">Tìm kiếm</button>
    </div>
</form>

<span *ngIf="checkEmpty">
    <div>Không có dữ liệu</div>
</span>

<span [hidden]="checkEmpty">
    <div class="row mt-5">
    <div class="col-12 ">
        <button mat-button class="btn-color" (click)="onShow(0)">Tổng quát</button>
        <button mat-button class="btn-color mx-2" (click)="onShow(1)">Chi tiết</button>
    </div>
</div>

    <div class="row mt-5" [hidden]="showChart != 0">
    <div class="col-12">
        <div class="ct-chart d-flex justify-content-center" id="kakaka"></div>
    </div>
</div>

<div class="row mt-5" *ngIf="showChart == 1">
    <div class="col-12">
<!--        <table class="table table-striped table-hover">-->
<!--            <tr>-->
<!--                <th>STT</th>-->
<!--                <th>Doanh thu</th>-->
<!--                <th>Ngày</th>-->
<!--            </tr>-->
<!--            <tr *ngFor="let x of listStatic; let i=index ">-->
<!--                <td>{{i + 1}}</td>-->
<!--                <td>{{x.total | currency: 'VND' : 'symbol' : '4.0-3'}}</td>-->
<!--                <td>{{x.name}}</td>-->
<!--            </tr>-->
<!--        </table>-->
  <table mat-table [dataSource]="dataSource" style="width: 100%">


     <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef> STT </th>
      <td mat-cell *matCellDef="let element ; let key = index "> {{key + 1 }} </td>
    </ng-container>

       <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Ngày </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
      <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> Doanh thu </th>
      <td mat-cell *matCellDef="let element"> {{ element.total | currency: 'VND' : 'symbol' : '4.0-3'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
    </div>
</div>
</span>



