<div *ngIf="isLoading" class="loading">
  <div class="spinner-border text-danger spinner-center" role="status"></div>
</div>
<h1 class="text-center h3 font-weight-bold" mat-dialog-title>{{title}}</h1>
<div mat-dialog-content>

  <form class="mb-0">
    <div class="row" [formGroup]="formGroup">
      <div class="col-12">

        <!-- Chọn ngày -->
        <mat-form-field appearance="fill">
          <mat-label>Date time</mat-label>
          <mat-select [(value)]="select_day" (valueChange)="getMovie($event)" formControlName="date">
            <mat-option *ngFor="let days of dayArray" value="{{days}}">{{days}}</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- chọn ID room -->
        <mat-form-field appearance="fill">
          <mat-label>Rooms</mat-label>
          <mat-select [(value)]= 'select_room' formControlName="room_id">
            <mat-option *ngFor="let room of rooms " value={{room.id}}>{{room.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Chọn phim -->
        <mat-form-field appearance="fill">
          <mat-label>Movies</mat-label>
          <mat-select [(value)]="select_movies" formControlName="nameMovie">
            <mat-option *ngFor="let movie of movies " value = {{movie.id}} >{{movie.name}}: {{movie.time}}</mat-option>
          </mat-select>
        </mat-form-field>

        <div class="example-button-row" style="float: right; margin-bottom: 15px" (click)="addShowtimes()">
          <button mat-raised-button color="primary">Thêm xuất chiếu</button>
        </div>

        <table matSort formControlName="dataArraylist">
          <tr>
            <th mat-sort-header="id">Id</th>
            <th mat-sort-header="room_id">Room_id</th>
            <th mat-sort-header="movie_id">Movie_id</th>
            <th mat-sort-header="nameMovie">Name movie</th>
            <th mat-sort-header="time">Duration</th>
            <th>Option</th>
          </tr>

          <tr *ngFor="let data of dataList">
            <td>{{data.id}}</td>
            <td>{{data.room_id}}</td>
            <td>{{data.movie_id}}</td>
            <td>{{data.nameMovie}}</td>
            <td>{{data.time}}</td>
            <td>
              <div class="example-button-row">
                <button mat-flat-button color="warn" (click)="getDelete(data)">Delete</button>
              </div>
            </td>
          </tr>
        </table>
        <mat-card align="end">
          <mat-card-content>Total time: {{time}} minutes</mat-card-content>
        </mat-card>
      </div>
    </div>
  </form>


</div>
<div mat-dialog-actions class="d-flex justify-content-end">
  <button class="btn btn-success" mat-button (click)="onSubmit(formGroup)">Đồng ý</button>
  <button class="btn btn-dark" mat-button mat-dialog-close>Hủy</button>
</div>