<h1 mat-dialog-title class="text-center h3 font-weight-bold">Thêm mới danh mục</h1>
<div mat-dialog-content>
  
  <form [formGroup]="categoryFormGroup">
    <mat-form-field appearance="outline">
      <mat-label>Tên danh mục</mat-label>
      <input matInput type="text" formControlName="name" required />
      <mat-error class="text-danger"
                 *ngIf="categoryFormGroup.get('name')?.hasError('required') &&
                        categoryFormGroup.get('name')?.touched">
          Tên danh mục không được để trống
      </mat-error>
      <mat-error class="text-danger"
                               *ngIf="categoryFormGroup.get('name')?.hasError('pattern') &&
                               categoryFormGroup.get('name')?.touched">
                        Tên danh mục không chứa ký tự đặc biệt
                    </mat-error>
    </mat-form-field>
  </form>

</div>
<div mat-dialog-actions class="d-flex justify-content-end">
  <div class="row">
    <button 
    class="btn btn-info" 
    mat-button 
    mat-dialog-close 
    cdkFocusInitial
    (click)="createCategory()"
    >Đồng ý</button>
    <button class="btn btn-dark" mat-button mat-dialog-close>Hủy</button>
  </div>
</div>