<div *ngIf="isLoading" class="loading">
  <div class="spinner-border text-danger spinner-center" role="status">
  </div>
</div>
<h1 mat-dialog-title class="text-center h3 font-weight-bold">
  Thông tin đơn hàng
</h1>
<div class="order-detail2">
  <div mat-dialog-content class="scroll-order-detail">
    <div class="row mb-3">
        <div class="col-12 font-weight-bold">
          ID Đơn hàng:
        </div>
        <div class="col-12">
          #{{order.id}}
        </div>
        <div class="col-12 font-weight-bold mt-3">
          Giá trị đơn:
        </div>
        <div class="col-12">
          {{order.total| currency:' ':'symbol':'0.0-2'}}₫
        </div>
        <div *ngIf="order.status ==6" class="col-12 font-weight-bold mt-3">
          Người bán:
        </div>
        <div *ngIf="order.status ==6" class="col-12">
          {{order.employee.fullname}}
        </div>
        <div *ngIf="order.status ==6" class="col-12 font-weight-bold mt-3">
          Ngày bán:
        </div>
        <div *ngIf="order.status ==6" class="col-12">
          {{order.createDate | date: 'dd/MM/yyyy'}}
        </div>
        <div *ngIf="order.status !=6 && tabIndex != 5" class="col-12 font-weight-bold mt-3">
          Phí vận chuyển ước tính:
        </div>
        <div *ngIf="order.status !=6 && tabIndex != 5" class="col-12">
          {{order.freight| currency:' ':'symbol':'0.0-2'}}₫
        </div>
      <div *ngIf="order.status !=6" class="col-12 font-weight-bold mt-3">
          Địa chỉ nhận hàng:
      </div>
      <div *ngIf="order.status !=6" class="col-12">
        {{order.shipName}} : {{order.shipPhone}}
      </div>
      <div class="col-12">
        {{order.shipAddress}}
      </div>
      <div *ngIf="order.status==0" class="col-12 mt-2">
        <a class="btn-link" (click)="addAddress()">Đổi địa chỉ</a>
      </div>
      <div *ngIf="order.status!=0 && order.status!=6">
        <div class="col-12 font-weight-bold mt-3">
          Người cập nhật:
        </div>
        <div class="col-12">
          {{order.updateName}}
        </div>
        <div class="col-12 font-weight-bold mt-3">
          Ngày cập nhật:
        </div>
        <div class="col-12">
          {{order.updatedDate | date: 'dd/MM/yyyy'}}
        </div>
       </div>
       <div class="col-12" *ngIf="tabIndex==5">
        <div class="col-12 p-0 font-weight-bold mt-3">
          Lý do khách trả:
         </div>
         <div class="col-12">
          {{exchange.exchanges.reason}}
        </div>
        <div *ngIf="order.status==9" class="col-12 p-0 font-weight-bold mt-3">
          Ghi chú của nhân viên:
         </div>
         <div *ngIf="order.status==9" class="col-12">
          {{exchange.exchanges.note}}
        </div>
         <div class="col-12 p-0 font-weight-bold mt-3">
          Video & ảnh khách gửi: <a class="btn-link" target="_blank" [href]="exchange.exchanges.video">Xem video</a>
         </div>
         <div class="row mt-3">
          <div class="w-50 mt-3 p-2" *ngFor="let image of exchange.exchangeImagesList">
            <div class="zoom" [style.background-image]="'url(' + image.name + ')'" style="height: 20rem;"></div>
          </div>
         </div>
       </div>
      <div class="col-12 row font-weight-bold mt-3">
        <div class="col-12 pt-5">
          <span class="">Thông tin sản phẩm</span>
        </div>
        <!-- <div class="col-5 pt-3 d-flex justify-content-end">
          <form class="example-form p-0 w-100">
            <mat-form-field class="example-full-width m-0" appearance="outline">
              <mat-label>Thêm sản phẩm</mat-label>
              <input type="text" matInput [formControl]="productInput" [matAutocomplete]="auto" placeholder="Tìm kiếm sản phẩm">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option class="mat-option-custom" *ngFor="let pro of filteredProduct | async" [value]="pro.id" (click)="openDialog(pro)">
                  <a class="search-product" >

                    <div class="img-product-search">
                        <img
                             src="{{pro.thumnail}}">
                    </div>
                    <div class="info-product-search">
                        <p class="name-product-search" #tooltip="matTooltip"
                           matTooltip="{{pro.name.length>40?pro.name:''}}">{{pro.name}}</p>
                        <span class="price-product-search"> {{pro.price| currency:' ':'symbol':'0.0-2'}} đ</span>
                    </div>
                </a>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>
        </div> -->
      </div>
      <div class="col-12">
        <table mat-table [dataSource]="dataSource" matSort>
  
          <!-- ID Column -->
          <ng-container matColumnDef="image">
            <th class="text-center" mat-header-cell *matHeaderCellDef mat-sort-header> Ảnh </th>
            <td mat-cell *matCellDef="let row">
              <img style="width: 4rem;" [src]="row.productsDetail.product.thumnail" alt="">
            </td>
          </ng-container>
  
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th class="text-center" mat-header-cell *matHeaderCellDef mat-sort-header>
              Sản phẩm
            </th>
            <td mat-cell *matCellDef="let row">{{ row.productsDetail.product.name }}</td>
          </ng-container>
  
          <!-- Category Column -->
          <ng-container matColumnDef="price">
            <th class="text-center" mat-header-cell *matHeaderCellDef>Đơn giá</th>
            <td mat-cell *matCellDef="let row">{{ row.unitprice| currency:' ':'symbol':'0.0-2' }}₫</td>
          </ng-container>
  
          <!-- Category Column -->
          <ng-container matColumnDef="color">
            <th class="text-center" mat-header-cell *matHeaderCellDef>Màu sắc</th>
            <td mat-cell *matCellDef="let row">
              <div class="row">
                <div class="col-12 d-flex justify-content-center">
                  <div style="width: 30px; height: 30px; border-radius: 100%; border: 1px solid black;" [style.background-color]="row.productsDetail.color.code"></div>
                </div>
              </div>
            </td>
          </ng-container>
  
          <!-- Category Column -->
          <ng-container matColumnDef="size">
            <th class="text-center" mat-header-cell *matHeaderCellDef>Size</th>
            <td mat-cell *matCellDef="let row">{{ row.productsDetail.size.code}}</td>
          </ng-container>
  
          <!-- Price Column -->
          <ng-container matColumnDef="quantity">
            <th class="text-center" mat-header-cell *matHeaderCellDef mat-sort-header>Số lượng</th>
            <td mat-cell *matCellDef="let row">
              {{ row.quantity }}
                <!-- <input class="input-quantity text-center" style="padding-left: 7px;" type="number" [value]="row.quantity" (blur)="updateQuantity($event,row)"> -->
            </td>
          </ng-container>
  
          <!-- status Column -->
            <ng-container matColumnDef="status">
              <th class="text-center" mat-header-cell *matHeaderCellDef mat-sort-header>
                Trạng thái
              </th>
              <td class="text-center font-weight-bold" mat-cell *matCellDef="let row"
               [ngClass]="row.status == 1 ? 'text-success' : row.status == 0 ? 'text-danger': row.status == 2 ? 'text-success':'text-danger'">
                {{row.status==1? 'Nhận':row.status==0? 'Chờ xác nhận': row.status==2? 'Đồng ý trả': 'Hủy trả'}}
              </td>
            </ng-container>

            <!-- status Column -->
            <ng-container matColumnDef="func">
                <th class="text-center" mat-header-cell *matHeaderCellDef mat-sort-header>
                </th>
                <td class="text-center font-weight-bold" mat-cell *matCellDef="let row" >
                  <div *ngIf="tabIndex==5 && row.status == 0">
                    
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                      <i class="fas fa-ellipsis-v"></i>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button (click)="acceptExchange(row)" mat-menu-item>
                        <span>Xác nhận</span>
                      </button>
                      <button (click)="cancelExchange(row)" mat-menu-item>
                        <span>Hủy</span>
                      </button>
                    </mat-menu>
                    
                  </div>
                </td>
            </ng-container>
            
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  
          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">
              Không có bản ghi nào
            </td>
          </tr>
        </table>
      </div>

      <div *ngIf="order.status ==8" class="col-12">
      <form [formGroup]="noteFG">
        <mat-form-field class="mt-3" appearance="outline">
          <mat-label>Ghi chú:</mat-label>
          <textarea formControlName="note" matInput id="floatingInput"></textarea>
        </mat-form-field>
        <mat-error class="text-danger"
                     *ngIf="noteFG.get('note')?.hasError('required') &&
                     noteFG.get('note')?.touched">
              Ghi chú không được để trống
          </mat-error>
        </form>
      </div>


    </div>
  
    <span *ngIf="order.status == 0" class="h4 font-weight-bold col-12 mt-3">Chọn ca lấy hàng</span>
      <mat-error class="text-danger col-12" style="font-size: 14px;" *ngIf="data.get('pickup_time')?.hasError('required') &&
            data.get('pickup_time')?.touched">
              Bạn chưa chọn ca lấy hàng
            </mat-error>
      <div class="col-12" *ngIf="order.status == 0">
        <form [formGroup]="data">
          <mat-radio-group aria-labelledby="example-radio-group-label" formControlName="pickup_time" class="example-radio-group m-0">
            <mat-radio-button class="example-radio-button" *ngFor="let date of dateShift" (change)="setDateShip($event)" [value]="date.from_time">
              {{date.title}}
            </mat-radio-button>
          </mat-radio-group>
          
        </form>
      </div>
  
  </div>
</div>
<div mat-dialog-actions>
  <div class="row w-100">
    <div class="col-6">
      <button *ngIf="order.status==0" class="btn btn-info" mat-button (click)="openEditOrder()">Sửa đơn</button>
      <button *ngIf="order.status==1" class="btn btn-info" mat-button (click)="transporting()">Giao hàng</button>
      <button *ngIf="order.status==2" class="btn btn-info" mat-button (click)="shipped()">Đã giao</button>
      <button *ngIf="order.status==0" class="btn btn-danger" (click)="cancelStatus()" mat-button>Hủy đơn</button>
      <button *ngIf="order.status==1" class="btn btn-danger" (click)="cancelOrder()" mat-button>Hủy đơn</button>

      <div class="mt-2" *ngIf="order.status==8||order.status==9">
        <span class="text-danger h3 font-weight-bold">Tiền trả khách: {{totalExchange| currency:' ':'symbol':'0.0-2'}}₫</span>
      </div>
    </div>
    <div class="col-6 d-flex justify-content-end">
      <div *ngIf="order.status==8" class="row">
        <button class="btn btn-success" mat-button (click)="exchangeAccept()" cdkFocusInitial >Trả hàng</button>
        <button class="btn btn-dark" [disabled]="disableBtn" style="margin-left: 0.5em;" mat-button mat-dialog-close>Đóng</button>
      </div>
      <div *ngIf="order.status==0" class="row">
        <button class="btn btn-success" mat-button cdkFocusInitial [disabled]="!dateShip" (click)="onSubmit()">Xác nhận</button>
        <button mat-button mat-dialog-close class="btn btn-dark" mat-button mat-dialog-close>Hủy</button>
      </div>
      <div *ngIf="order.status!=0&&order.status!=8" class="row">
        <div *ngIf="order.status==1">
          <button class="btn btn-success" (click)="printOrderCode()" mat-button>In vận đơn</button>
        </div>
        <button class="btn btn-dark" style="margin-left: 0.5em;" mat-button mat-dialog-close>Đóng</button>
      </div>
    </div>
  </div>

  
</div>