  
  .loading {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
  }
  .zoom {
    padding: 50px;
    transition: transform .2s;
    margin: 0 auto;
    background-size: cover;
  }
  .zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
    cursor: pointer;
  }

  .btn-link {
    color: blue;
    font-weight: bold;
    cursor: pointer;
  }

  .spinner-center {
    top: 50%;
    left: 50%;
    position: absolute;
  }

  .example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }

  .example-radio-button {
    margin: 5px;
  }

  a {
    color: white;
  }

  table {
    width: 100%;
  }

  td,
  th {
    text-align: center;
    width: 14%;
  }
  .btn-link {
    font-weight: bold;
    cursor: pointer;
  }

  th {
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    color: black;
  }

  .order-detail2 .mat-dialog-content {
    max-height: 73vh !important;
    padding: 1rem 5rem 1rem 5rem;
  }

  .scroll-order-detail::-webkit-scrollbar {
    width: 10px;
  }


  /* Track */
  .scroll-order-detail::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
    ;
  }
  




  /* Handle */
  .scroll-order-detail::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 6px
  }


  /* Handle on hover */
  .scroll-order-detail::-webkit-scrollbar-thumb:hover {
    background: white;
  }
//SEARCH PRODUCT
.search-product {
  display: flex;
  flex-direction: row;
  padding: 6px;
  border-radius: 10px;
}

.img-product-search {
  max-width: 50px;
}

.img-product-search img {
  width: 100%;
}
.info-product-search{
  flex:1;
  line-height: 32px;
  padding-left: 25px;
  overflow: hidden;
}
.name-product-search{
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  color: black;
  font-weight: 400;
}

.price-product-search{
  color: red;
  font-weight: 400;
}
.mat-option-custom{
  height: 83px !important;
  padding: 0px 0px !important;
}