<div *ngIf="isLoading" class="loading">
    <div class="spinner-border text-danger spinner-center" role="status"></div>
  </div>
<div class="register-container">
    <div class="register-box">
        <h2>Đăng ký</h2>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="fullname">Họ và tên</label>
                <input type="text" id="fullname" formControlName="fullname">
                <div *ngIf="fullname.touched && fullname.invalid" class="error-message">
                    <div *ngIf="fullname.errors.required">Họ và tên không được để trống</div>
                    <div *ngIf="fullname.errors.minlength">Họ và tên phải có ít nhất 2 ký tự</div>
                    <div *ngIf="fullname.errors.maxlength">Họ và tên không được quá 50 ký tự</div>
                </div>
            </div>
            <div class="form-group">
                <label for="username">Tài khoản</label>
                <input type="text" id="username" formControlName="username">
                <div *ngIf="username.touched && username.invalid" class="error-message">
                    <div *ngIf="username.errors.required">Tài khoản không được để trống</div>
                    <div *ngIf="username.errors.minlength">Tài khoản phải có ít nhất 2 ký tự</div>
                    <div *ngIf="username.errors.maxlength">Tài khoản không được quá 50 ký tự</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Mật khẩu</label>
                <input type="password" id="password" formControlName="password">
                <div *ngIf="password.touched && password.invalid" class="error-message">
                    <div *ngIf="password.errors.required">Mật khẩu không được để trống</div>
                    <div *ngIf="password.errors.minlength">Mật khẩu phải có ít nhất 6 ký tự</div>
                    <div *ngIf="password.errors.maxlength">Mật khẩu không được quá 30 ký tự</div>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" formControlName="email">
                <div *ngIf="email.touched && email.invalid" class="error-message">
                    <div *ngIf="email.errors.required">Email không được để trống</div>
                    <div *ngIf="email.errors.email">Email không hợp lệ</div>
                </div>
            </div>
            <div class="form-group">
                <label for="phone">Số điện thoại</label>
                <input type="text" id="phone" formControlName="phone">
                <div *ngIf="phone.touched && phone.invalid" class="error-message">
                    <div *ngIf="phone.errors.required">Số điện thoại không được để trống</div>
                    <div *ngIf="password.errors.minlength">Số điện thoại phải có ít nhất 10 số</div>
                    <div *ngIf="password.errors.maxlength">Số điện thoại không được quá 11 số</div>
                </div>
            </div>
            <div style="margin-bottom: 20px;">
                <label>Ngày sinh</label>
                <select [(value)]="selectedDate" formControlName="date" required>
                    <option value="chọn ngày sinh">-- Chọn ngày sinh --</option>
                    <option *ngFor="let date of days" [value]="date">{{ date }}</option>
                </select>
                <select [(value)]="selectedMonth" formControlName="month" required>
                    <option value="">-- Chọn tháng --</option>
                    <option *ngFor="let month of months" [value]="month">{{ month }}</option>
                </select>
                <select [(value)]="selectedYear" formControlName="year" required>
                    <!-- <option value="" disabled selected hidden>Please Choose...</option> -->
                    <option value="">-- Chọn năm sinh --</option>
                    <option *ngFor="let year of years" [value]="year">{{ year }}</option>
                </select>
            </div>
            <div style="margin-bottom: 20px;">
                <label>Giới tính</label>
                <select [(value)]="selectedDate" formControlName="gender" required>
                    <option value="chọn giới tính">-- Chọn giới tính --</option>
                    <option value="Female">Nữ</option>
                    <option value="Male">Nam</option>
                </select>
            </div>
            <button type="submit" [disabled]="registerForm.invalid">Đăng ký</button>
        </form>
    </div>
</div>