.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f6f6f6;
  }
  
  .register-box {
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 600px;
    margin-top: 20px;
    margin-bottom: 20px
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }

  select, select.form-control {
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 2px;
    margin-left: 10px;
    border: 1px solid #ddd;
}
// .loading {
//   background: rgba(0, 0, 0, 0.5);
//   width: 100%;
//   height: 100%;
//   position: fixed;
//   top: 0;
//   left: 0;
//   z-index: 999;
// }

.loading {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.spinner-center {
  top: 50%;
  left: 50%;
  position: absolute;
}