<h2 class="text-center font-weight-bold h3" mat-dialog-title>{{ title }}</h2>
<mat-dialog-content>
    <form class="row mt-3" [formGroup]="form">
        <mat-form-field appearance="outline" class="col-4" >
            <mat-label>Tên khuyến mại</mat-label>
            <input matInput formControlName="discountName">
            <mat-error *ngIf="this.form.get('discountName').hasError('isSpace') && this.form.get('discountName').touched ">
                Vui lòng không để trống
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-4">
            <mat-label>Ngày bắt đầu</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="startDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="isValidators( 'startDate' , 'required')">
                Vui lòng không để trống
            </mat-error>
            <mat-error *ngIf=" !this.form.get('startDate').get('compareStart') && this.form.get('startDate').touched ">
                Ngày bắt đầu phải lớn hơn hoặc bằng ngày hiện tại
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-4">
            <mat-label>Ngày kết thúc</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="endDate">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            <mat-error *ngIf="isValidators( 'endDate' , 'required')">
                Vui lòng không để trống
            </mat-error>
            <mat-error *ngIf=" !this.form.get('endDate').get('compareDate') && this.form.get('endDate').touched ">
                Ngày bắt đầu phải nhở hơn ngày kết thúc
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-4">
            <mat-label>Giảm giá</mat-label>
            <input matInput [disabled]="true" formControlName="discount" onkeydown="javascript: return ['Backspace','Delete','ArrowLeft','ArrowRight'].includes(event.code) ? true : !isNaN(Number(event.key)) && event.code!=='Space'">
            <mat-error *ngIf="isValidators( 'discount' , 'required')">
                 Vui lòng không để trống
            </mat-error>
            <mat-error *ngIf=" this.form.get('discount').hasError('isDiscount') && this.form.get('discount').touched">
                 Khuyễn mãi phải lớn hơn 0 và nhỏ hơn 100
            </mat-error>
        </mat-form-field>

<!--        <mat-form-field class="col-4" appearance="outline" *ngIf="CONSTAIN.UPDATE === data.type">-->
<!--            <mat-label>Trạng thái</mat-label>-->
<!--            <mat-select formControlName="status">-->
<!--                <mat-option [value]="1">Chưa diễn ra</mat-option>-->
<!--                <mat-option [value]="3">Đã kết thúc</mat-option>-->
<!--            </mat-select>-->
<!--        </mat-form-field>-->
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button type="button" mat-button class="btn btn-success" (click)="onSave()">Lưu lại</button>
    <button type="button" mat-button class="btn btn-dark" (click)="onClose()">Đóng</button>
</mat-dialog-actions>
