<div *ngIf="isLoading" class="loading">
  <div class="spinner-border text-danger spinner-center" role="status"></div>
</div>
<div class="main">
  <div class="info">
    <div class="title">
      <b>CẬP NHẬT THÔNG TIN</b>
    </div>
    <div class="person-info">
      <form class="mb-0" [formGroup]="formGroup">
        <div class="row">
          <div class="col-4">
            <!-- Poster -->
            <div ngx-dropzone [multiple]="false" (change)="onSelect($event)" style="width: 230px; height: 230px;">
              <ngx-dropzone-label>
                <div>
                  <img
                    [src]="formGroup.get('photo').value"
                    alt=""
                    style="
                      width: 200px !important;
                      height: 200px !important;
                      border-radius: 2%;
                    "
                  />
                </div>
              </ngx-dropzone-label>

              <ngx-dropzone-image-preview
                ngProjectAs="ngx-dropzone-preview"
                *ngFor="let f of files"
                [file]="f"
                [removable]="true"
                (removed)="onRemove(f)"
                [value]="f"
              >
              </ngx-dropzone-image-preview>
            </div>
            <!-- /Poster -->
          </div>
          <div class="col-8">
            <!-- Tài khoản  -->
            <mat-form-field appearance="outline">
              <mat-label>Tài khoản</mat-label>
              <input
                type="text"
                formControlName="username"
                [readonly]="this.username"
                matInput
              />
            </mat-form-field>
            <!-- /Tài khoản -->

            <!-- Họ tên  -->
            <mat-form-field class="mt-3" appearance="outline">
              <mat-label>Họ tên</mat-label>
              <input type="text" formControlName="fullname" matInput />
              <mat-error
                class="text-danger"
                *ngIf="
                  formGroup.get('fullname')?.hasError('required') &&
                  formGroup.get('fullname')?.touched
                "
              >
                Họ tên không được để trống
              </mat-error>
              <mat-error
                class="text-danger"
                *ngIf="
                  formGroup.get('fullname')?.hasError('pattern') &&
                  formGroup.get('fullname')?.touched
                "
              >
                Họ tên không đúng định dạng
              </mat-error>
            </mat-form-field>
            <!-- /Họ tên -->

            <!-- Email  -->
            <mat-form-field class="mt-3" appearance="outline">
              <mat-label>Email</mat-label>
              <input type="text" formControlName="email" matInput />
              <mat-error
                class="text-danger"
                *ngIf="
                  formGroup.get('email')?.hasError('required') &&
                  formGroup.get('email')?.touched
                "
              >
                Email không được để trống
              </mat-error>
              <mat-error
                class="text-danger"
                *ngIf="
                  formGroup.get('email')?.hasError('pattern') &&
                  formGroup.get('email')?.touched
                "
              >
                Email không đúng định dạng
              </mat-error>
            </mat-form-field>
            <!-- /Email -->

            <!-- Ngày sinh -->
            <mat-form-field class="mt-3" appearance="outline">
              <mat-label>Ngày sinh</mat-label>
              <input
                matInput
                [matDatepicker]="birthDate"
                formControlName="birthDate"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="birthDate"
              ></mat-datepicker-toggle>
              <mat-datepicker #birthDate></mat-datepicker>
              <mat-error
                class="text-danger"
                *ngIf="
                  formGroup.get('birthDate')?.hasError('required') &&
                  formGroup.get('birthDate')?.touched
                "
              >
                Bạn chưa chọn ngày sinh
              </mat-error>
            </mat-form-field>
            <!-- /Ngày sinh -->

            <!-- sdt -->
            <mat-form-field class="mt-3" appearance="outline">
              <mat-label>Số điện thoại</mat-label>
              <input type="text" formControlName="phone" matInput />
              <mat-error
                class="text-danger"
                *ngIf="
                  formGroup.get('phone')?.hasError('required') &&
                  formGroup.get('phone')?.touched
                "
              >
              Số điện thoại không được để trống
              </mat-error>
              <mat-error
                class="text-danger"
                *ngIf="
                  formGroup.get('phone')?.hasError('pattern') &&
                  formGroup.get('phone')?.touched
                "
              >
                Số điện thoại không đúng định dạng
              </mat-error>
            </mat-form-field>
            <!-- /sdt -->

            <!-- Giới tính -->
            <mat-label>Giới tính</mat-label>
            <br />
            <mat-radio-group formControlName="gender">
              <mat-radio-button
                class="m-2"
                *ngFor="let g of listGender"
                [value]="g.value"
                >{{ g.name }}</mat-radio-button
              >
            </mat-radio-group>

            <!-- /Giới tính -->
          </div>
        </div>
      </form>
    </div>
    <div mat-dialog-actions class="d-flex justify-content-end">
      <button class="btn btn-success" mat-button (click)="onSubmit()">
        Cập nhật
      </button>
      <!-- <button class="btn btn-dark" mat-button mat-dialog-close>Hủy</button> -->
    </div>
  </div>
</div>
