table {
    width: 100%;
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  td, th {
    text-align: center;
    width: 15%;
  }
  th{
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    color: black;
  }