.left-menu {
    margin: 45px 0px;
    ul {
        margin: 0px;
        padding: 0px;
        list-style: none;

        .menu-title {
            background: red;
            color: white !important;
            font-weight: bold;
            display: flex;
            justify-content: center;
        }

        li {
            height: 45px;
            padding: 10px;
            padding-left: 30px;
            background: #fff;
            margin: 2px 0px;
            font-size: 17px;
            
            i {
                padding-right: 10px;
            }
            a{
                color: #191818;
            }
        }
        li:hover{
            background: #d4d1d1;
        }
    }
}