
    <div class="main">
        <div class="info">
            <div class="title">
                <b>THÔNG TIN TÀI KHOẢN</b>
            </div>
            <div class="person-info">
                <div class="row">
                    <div class="col-3 avt">
                        <img src="" alt="">
                    </div>
                    <div class="col-9">
                        <table>
                            <tr>
                                <th>Họ tên</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Ngày sinh</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Giới tính</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Số điện thoại</th>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>


