
    <div class="main">
        <div class="info">
            <div class="title">
                <b>THÔNG TIN TÀI KHOẢN</b>
            </div>
            <div class="person-info">
                <div class="row">
                    <div class="col-3 avt">
                        <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.worldfootball.net%2Fplayer_summary%2Fneymar%2F&psig=AOvVaw2WYKt2oh7x2bngspGkYRpS&ust=1682650253605000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCKDZpueGyf4CFQAAAAAdAAAAABAE" alt="">
                    </div>
                    <div class="col-9">
                        <table>
                            <tr>
                                <th>Họ tên</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Ngày sinh</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Giới tính</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Số điện thoại</th>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>


