.mat-dialog-content {
    max-height: 75vh;
}
.product-view table {
    width: 100%;
  }
  .product-view .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  .product-view td,.product-view th {
    text-align: center;
    width: 10%;
  }
  .product-view th{
    text-align: center !important;
    font-weight: bold !important;
    font-size: 1em !important;
    color: black !important;
  }

.order-detail::-webkit-scrollbar,
.list-category ul::-webkit-scrollbar,
.payment-content::-webkit-scrollbar,
.mat-autocomplete-panel::-webkit-scrollbar,
.list-product::-webkit-scrollbar{
    width: 5px;
}
.product-view::-webkit-scrollbar{
    width: 10px;
}


/* Track */
.product-view::-webkit-scrollbar-track{
    background: rgba(255, 255, 255, 0);
    ;
}



/* Handle */
.product-view::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 6px
}


/* Handle on hover */
.product-view::-webkit-scrollbar-thumb:hover{
    background:white;
}