<h2 class="text-center font-weight-bold h3" mat-dialog-title>{{ title }}</h2>
<mat-dialog-content>


    <form class="mb-0">
        <div class="row" [formGroup]="formGroup">
            <div class="col-4">
                <ngx-dropzone
                        *ngIf="isUpdate"
                        class="custom-dropzone"
                        ngx-dropzone
                        [accept]="'image/*'"
                        (change)="onChangeAvatar($event)"
                        [multiple]="false">
                    <ngx-dropzone-label>
                        <div>
                            <h5>Hình ảnh</h5>
                        </div>
                    </ngx-dropzone-label>
                    <ngx-dropzone-image-preview
                            ngProjectAs="ngx-dropzone-preview"
                            *ngFor="let f of avatarFile"
                            [file]="f"
                            [removable]="true"
                            (removed)="onRemove(f)">
                    </ngx-dropzone-image-preview>
                </ngx-dropzone>
                <img [src]="this.avatarUrlEdit" alt="" class="avt-preview" *ngIf="!isUpdate">
                <div class="mt-3 d-flex justify-content-center">
                    <button *ngIf="!isUpdate"
                            type="button" class="btn btn-danger"
                            (click)="isUpdate = !isUpdate">
                        Thay đổi ảnh
                    </button>
                </div>
            </div>
            <div class="col-8">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Tên khách hàng</mat-label>
                    <input type="text" matInput cdkFocusInitial
                           formControlName="fullname">
                    <mat-error class="text-danger"
                               *ngIf="formGroup.get('fullname')?.hasError('required') &&
                                      formGroup.get('fullname')?.touched">
                        Tên khách hàng không được để trống
                    </mat-error>
                    <mat-error class="text-danger"
                               *ngIf="formGroup.get('fullname')?.hasError('pattern') &&
                                      formGroup.get('fullname')?.touched">
                        Tên khách hàng không chứa ký tự đặc biệt
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input type="text" matInput
                           formControlName="email">
                    <mat-error class="text-danger"
                               *ngIf="formGroup.get('email')?.hasError('required') &&
                                      formGroup.get('email')?.touched">
                        Email không được để trống
                    </mat-error>
                    <mat-error class="text-danger"
                               *ngIf="formGroup.get('email')?.hasError('pattern') &&
                                      formGroup.get('email')?.touched">
                        Email không đúng định dạng
                    </mat-error>
                </mat-form-field>

                <ng-container *ngIf="isShowPassword">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Mật khẩu</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'"
                               formControlName="password"
                               autocomplete="off" minlength="6">
                        <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error class="text-danger"
                                   *ngIf="formGroup.get('password')?.hasError('required') &&
                                      formGroup.get('password')?.touched">
                            Mật khẩu không được để trống
                        </mat-error>
                        <mat-error class="text-danger"
                                   *ngIf="formGroup.get('password')?.hasError('minlength') &&
                                      formGroup.get('password')?.touched">
                            Mật khẩu không được nhỏ hơn 6 ký tự
                        </mat-error>
                    </mat-form-field>
                </ng-container>

                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>SĐT</mat-label>
                    <input type="text" matInput
                           formControlName="phone">
                    <mat-error class="text-danger"
                               *ngIf="formGroup.get('phone')?.hasError('required') &&
                                      formGroup.get('phone')?.touched">
                        Số điện thoại không được để trống
                    </mat-error>
                    <mat-error class="text-danger"
                               *ngIf="formGroup.get('phone')?.hasError('pattern') &&
                                      formGroup.get('phone')?.touched">
                        Số điện thoại không đúng định dạng
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Ngày sinh</mat-label>
                    <input matInput
                           [matDatepicker]="picker"

                           formControlName="birthDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error class="text-danger"
                               *ngIf="formGroup.get('birthDate')?.hasError('required') &&
                                  formGroup.get('birthDate')?.touched">
                        Ngày sinh không được để trống
                    </mat-error>
                </mat-form-field>

                <div class="form-group d-flex">
                    <mat-label>Trạng thái</mat-label>
                    <mat-radio-group formControlName="status">
                        <mat-radio-button [value]="1" class="ml-4">
                            Hoạt động
                        </mat-radio-button>
                        <mat-radio-button [value]="0" class="ml-4">
                            Không hoạt động
                        </mat-radio-button>
                    </mat-radio-group>
                </div>

                <!-- <div class="action-button mt-3 d-flex justify-content-end">
                    <button type="button"
                        class="btn btn-success"
                            (click)="save()"
                            [disabled]="isLoadingButton">
                        <span>
                            <i *ngIf="isLoadingButton" class="fa fa-spinner fa-spin"></i>
                            Lưu
                        </span>
                    </button>
                    <button type="button" class="mr-3 btn btn-dark" (click)="onDismiss()">
                        <span><span class="fe fe-x mg-r-2"></span>Đóng</span>
                    </button>
                </div> -->
            </div>
        </div>
    </form>


</mat-dialog-content>

<mat-dialog-actions align="end">
    <button type="button"
                        class="btn btn-success"
                            (click)="save()"
                            [disabled]="isLoadingButton">
                        <span>
                            <i *ngIf="isLoadingButton" class="fa fa-spinner fa-spin"></i>
                            Lưu
                        </span>
                    </button>
                    <button type="button" class="mr-3 btn btn-dark" (click)="onDismiss()">
                        <span><span class="fe fe-x mg-r-2"></span>Đóng</span>
                    </button>
</mat-dialog-actions>



<!-- <div class="customer-form-title card-title">
    <h6 class="main-content-label text-center" style="font-size: 26px;">{{ title }}</h6>
</div>
<div class="card-body">
    <form class="mb-0">
        <div class="row" [formGroup]="formGroup">
            <div class="col-4">
                <ngx-dropzone
                        *ngIf="isUpdate"
                        class="custom-dropzone"
                        ngx-dropzone
                        [accept]="'image/*'"
                        (change)="onChangeAvatar($event)"
                        [multiple]="false">
                    <ngx-dropzone-label>
                        <div>
                            <h5>Hình ảnh</h5>
                        </div>
                    </ngx-dropzone-label>
                    <ngx-dropzone-image-preview
                            ngProjectAs="ngx-dropzone-preview"
                            *ngFor="let f of avatarFile"
                            [file]="f"
                            [removable]="true"
                            (removed)="onRemove(f)">
                    </ngx-dropzone-image-preview>
                </ngx-dropzone>
                <img [src]="this.avatarUrlEdit ? this.avatarUrlEdit : 'https://res.cloudinary.com/nemfashion/image/upload/v1664814655/unknow_ejzkbl.jpg'" alt="" class="avt-preview" *ngIf="!isUpdate">
                <div class="mt-3 d-flex justify-content-center">
                    <button *ngIf="!isUpdate"
                            type="button" class="btn btn-danger"
                            (click)="isUpdate = !isUpdate">
                        Thay đổi ảnh
                    </button>
                </div>
            </div>
            <div class="col-8">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Tên khách hàng</mat-label>
                    <input type="text" matInput cdkFocusInitial
                           formControlName="fullname">
                    <mat-error class="text-danger"
                               *ngIf="formGroup.get('fullname')?.hasError('required') &&
                                      formGroup.get('fullname')?.touched">
                        Tên khách hàng không được để trống
                    </mat-error>
                    <mat-error class="text-danger"
                               *ngIf="formGroup.get('fullname')?.hasError('pattern') &&
                                      formGroup.get('fullname')?.touched">
                        Tên khách hàng không chứa ký tự đặc biệt
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input type="text" matInput
                           formControlName="email">
                    <mat-error class="text-danger"
                               *ngIf="formGroup.get('email')?.hasError('required') &&
                                      formGroup.get('email')?.touched">
                        Email không được để trống
                    </mat-error>
                    <mat-error class="text-danger"
                               *ngIf="formGroup.get('email')?.hasError('pattern') &&
                                      formGroup.get('email')?.touched">
                        Email không đúng định dạng
                    </mat-error>
                </mat-form-field>

                <ng-container *ngIf="isShowPassword">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Mật khẩu</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'"
                               formControlName="password"
                               autocomplete="off" minlength="6">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error class="text-danger"
                                   *ngIf="formGroup.get('password')?.hasError('required') &&
                                      formGroup.get('password')?.touched">
                            Mật khẩu không được để trống
                        </mat-error>
                        <mat-error class="text-danger"
                                   *ngIf="formGroup.get('password')?.hasError('minlength') &&
                                      formGroup.get('password')?.touched">
                            Mật khẩu không được nhỏ hơn 6 ký tự
                        </mat-error>
                    </mat-form-field>
                </ng-container>

                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>SĐT</mat-label>
                    <input type="text" matInput
                           formControlName="phone">
                    <mat-error class="text-danger"
                               *ngIf="formGroup.get('phone')?.hasError('required') &&
                                      formGroup.get('phone')?.touched">
                        Số điện thoại không được để trống
                    </mat-error>
                    <mat-error class="text-danger"
                               *ngIf="formGroup.get('phone')?.hasError('pattern') &&
                                      formGroup.get('phone')?.touched">
                        Số điện thoại không đúng định dạng
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Ngày sinh</mat-label>
                    <input matInput
                           [matDatepicker]="picker"

                           formControlName="birthDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error class="text-danger"
                               *ngIf="formGroup.get('birthDate')?.hasError('required') &&
                                  formGroup.get('birthDate')?.touched">
                        Ngày sinh không được để trống
                    </mat-error>
                </mat-form-field>

                <div class="form-group d-flex">
                    <mat-label>Trạng thái</mat-label>
                    <mat-radio-group formControlName="status">
                        <mat-radio-button [value]="1" class="ml-4">
                            Hoạt động
                        </mat-radio-button>
                        <mat-radio-button [value]="0" class="ml-4">
                            Không hoạt động
                        </mat-radio-button>
                    </mat-radio-group>
                </div>

                <div class="action-button mt-3 d-flex justify-content-end">
                    <button type="button"
                        class="btn btn-success"
                            (click)="save()"
                            [disabled]="isLoadingButton">
                        <span>
                            <i *ngIf="isLoadingButton" class="fa fa-spinner fa-spin"></i>
                            Lưu
                        </span>
                    </button>
                    <button type="button" class="mr-3 btn btn-dark" (click)="onDismiss()">
                        <span><span class="fe fe-x mg-r-2"></span>Đóng</span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div> -->
