<h1 mat-dialog-title class="text-center h2 font-weight-bold">
  Chọn sản phẩm giao nhầm
</h1>
  <div mat-dialog-content class="scroll-order-detail p-2 text-center">

    <form class="example-form p-0 w-100">
      <mat-form-field class="example-full-width m-0" appearance="outline">
        <mat-label>Thêm sản phẩm</mat-label>
        <input type="text" matInput [formControl]="productInput" [matAutocomplete]="auto" placeholder="Tìm kiếm sản phẩm">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option class="mat-option-custom" *ngFor="let pro of filteredProduct | async" [value]="pro.id" (click)="openDialog(pro)">
            <a class="search-product" >

              <div class="img-product-search">
                  <img
                       src="{{pro.thumnail}}">
              </div>
              <div class="info-product-search">
                  <p class="name-product-search" #tooltip="matTooltip"
                     matTooltip="{{pro.name.length>40?pro.name:''}}">{{pro.name}}</p>
                  <span class="price-product-search"> {{pro.price| currency:' ':'symbol':'0.0-2'}}₫</span>
              </div>
          </a>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    
  </div>
<div mat-dialog-actions class="d-flex justify-content-end">
  <button mat-button class="btn btn-dark" mat-dialog-close>Đóng</button>
</div>