<div *ngIf="isLoading" class="loading">
    <div class="spinner-border text-danger spinner-center" role="status"></div>
</div>
<div class="container">
    <header>
        <div class="title">
            <h2>giá vé</h2>
        </div>
        <div class="icon">
            <i style="font-size: 40px;" class="material-icons">local_activity</i>
        </div>
        <div class="sub">
            <h3>GIÁ VÉ XEM PHIM</h3>
            <h3>(Áp dụng từ ngày 1/1/2023)</h3>
        </div>
    </header>
    <div class="row">
        <div class="col-12">
            <div mat-dialog-content>
                <form class="mb-0">
                    <div class="font-weight-bold row" *ngIf="!isLoading">
                        <table mat-table [dataSource]="price" matSort>
                            <!-- normalDay Column -->
                            <!-- SeatType 1 Column -->
                            <ng-container matColumnDef="standardNormal">
                                <th class="text-center" class="standard" mat-header-cell *matHeaderCellDef
                                    mat-sort-header>
                                    <h4>Ghế thường</h4>
                                    <h4>Standard</h4>
                                </th>
                                <td mat-cell *matCellDef="let row">{{price.standardNormal}}</td>
                            </ng-container>

                            <!-- SeatType 2 Column -->
                            <ng-container matColumnDef="vipNormal">
                                <th class="text-center" class="vip" mat-header-cell *matHeaderCellDef mat-sort-header>
                                    <h4>Ghế VIP</h4>
                                    <h4>VIP</h4>
                                </th>
                                <td mat-cell *matCellDef="let row"> {{price.vipNormal}} </td>
                            </ng-container>

                            <!-- holiday Column -->
                            <!-- SeatType 1 Column -->
                            <ng-container matColumnDef="standardHoliday">
                                <th class="text-center" class="standard" mat-header-cell *matHeaderCellDef
                                    mat-sort-header>
                                    <h4>Ghế thường</h4>
                                    <h4>Standard</h4>
                                </th>
                                <td mat-cell *matCellDef="let row">{{price.standardHoliday}}</td>
                            </ng-container>
                            <!-- SeatType 2 Column -->
                            <ng-container matColumnDef="vipHoliday">
                                <th class="text-center" class="vip" mat-header-cell *matHeaderCellDef mat-sort-header>
                                    <h4>Ghế VIP</h4>
                                    <h4>VIP</h4>
                                </th>
                                <td mat-cell *matCellDef="let row">{{price.vipHoliday}}</td>
                            </ng-container>

                            <!-- Header row normalDay group -->
                            <ng-container matColumnDef="header-row-first-group">
                                <th mat-header-cell *matHeaderCellDef [attr.colspan]="2" class="header-normalDay">
                                    <div>Từ thứ 2 đến thứ 5</div>
                                    <div>From Monday to Thursday</div>
                                </th>
                            </ng-container>

                            <!-- Header row Holiday group -->
                            <ng-container matColumnDef="header-row-second-group">
                                <th mat-header-cell *matHeaderCellDef [attr.colspan]="2" class="header-holiday">
                                    <div>Thứ 6, 7, Chủ Nhật </div>
                                    <div>Friday, Saturday, Sunday</div>
                                </th>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="['header-row-first-group', 'header-row-second-group']">
                            </tr>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                            <!-- Row shown when there is no matching data. -->
                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="5">Không có dữ liệu phù hợp!</td>
                            </tr>
                        </table>
                    </div>
                </form>
            </div>
            <!-- end -->
        </div>
    </div>
    <div class="block-view block-table mt-3">
        <div class="text-down-table-price">


          <p>
            <b style="font-weight: 900;">* Giá vé đối với các đối tượng khán giả ưu tiên (khi trực tiếp sử dụng dịch
              vụ xem phim tại rạp chiếu phim):</b>
          <div style="margin-left: 17px;">
            <p class="p-giave">
              - Giảm 20% giá vé theo qui định đối với: Trẻ em (người dưới 16 tuổi), người cao tuổi (công dân Việt
              Nam từ đủ 60 tuổi trở lên), người có công với cách mạng, người có hoàn cảnh đặc biệt khó khăn.
            </p>
            <p class="p-giave">
              - Giảm 50% giá vé theo qui định đối với: Người khuyết tật nặng.
            </p>
            <p class="p-giave">
              - Giảm giá vé 100% đối với: Người khuyết tật đặc biệt nặng, trẻ em dưới 0.7m đi kèm với người lớn.
            </p>
          </div>

          <br />

          <div style="margin-left: 34px;">
            <p class="p-giave">
              <b style="font-weight: 900;"><i>Điều kiện:</i></b><br />
              - Chỉ áp dụng khi mua vé tại quầy (không áp dụng khi mua online).<br />
              - Các đối tượng khán giả trên phải xuất trình giấy tờ chứng minh khi mua vé xem phim và trước khi vào
              phòng chiếu. Cụ thể:<br />
            <div style="margin-left: 45px;">
              <p class="p-giave">
                + Trẻ em (trường hợp trẻ em từ 14-16 tuổi), người cao tuổi: xuất trình "Căn cước công dân".
              </p>
              <p class="p-giave">
                + Người có công với cách mạng: xuất trình giấy xác nhận theo quy định.
              </p>
              <p class="p-giave">
                + Người có hoàn cảnh đặc biệt khó khăn: xuất trình "Giấy chứng nhận hộ nghèo".
              </p>
              <p class="p-giave">
                + Người khuyết tật: xuất trình "Giấy xác nhận khuyết tật".
              </p>
            </div>
          </div>

          <br />

          <p>
          <div style="margin-left: 0px;">
            <p class="p-giave">
              <b style="font-weight: 900;">
                * Ưu đãi cho học sinh, sinh viên từ <b class="change-color">22</b> tuổi trở xuống: Đồng giá <b
                  class="change-color">50.000đ</b> <b>/vé</b> 2D cho tất cả các suất chiếu phim từ <b
                  class="change-color">Thứ 2 đến Thứ 6</b>
                <i>(chỉ áp dụng cho hình thức mua vé trực tiếp tại quầy, mỗi thẻ được mua 1 vé/ngày - vui lòng xuất
                  trình thẻ U22 và thẻ HSSV khi mua vé)</i>.
              </b>
            </p>
          </div>

          <br />

          <p>
          <div style="margin-left: 0px;">
            <p class="p-giave">
              <b style="font-weight: 900;">
                * Khán giả nghiêm túc thực hiện xem phim đúng độ tuổi theo phân loại phim: P, C13, C16, C18. (Trường
                hợp vi phạm sẽ xử phạt theo Quy định tại Nghị định 128/2022/NĐ-CP ngày 30/12/2022).
              </b>
            </p>
          </div>

          <br />

          <p>
          <div style="margin-left: 0px;">
            <p class="p-giave">
              <b style="font-weight: 900;">
                * Không bán vé cho trẻ em dưới 13 tuổi đối với các suất chiếu phim kết thúc sau 22h00 và không bán
                vé cho trẻ em dưới 16 tuổi đối với các suất chiếu phim kết thúc sau 23h00.
              </b>
            </p>
          </div>

          <br />

          <p>
          <div style="margin-left: 0px;">
            <p class="p-giave">
              <b style="font-weight: 900;">
                * Áp dụng giá vé ngày Lễ, Tết cho các ngày:
              </b>
            </p>
            <div style="margin-left: 18px;">
              <p class="p-giave">
                - Các ngày nghỉ Lễ, Tết theo quy định của nhà nước: Tết Nguyên Đán, Tết Dương Lịch, ngày Giỗ Tổ Hùng
                Vương 10/3 AL, ngày 30/4, 1/5, 2/9.
              </p>
              <p class="p-giave">
                - Các ngày: 14/2, 8/3, 24/12.
              </p>
              <p class="p-giave">
                - Các ngày: Nghỉ bù do nghỉ Lễ, Tết trùng vào thứ 7, Chủ Nhật.
              </p>
            </div>
          </div>

          <br />

          <p>
          <div style="margin-left: 0px;">
            <p class="p-giave">
              <b style="font-weight: 900;">
                * Không áp dụng các chế độ ưu đãi, các chương trình khuyến mại khác vào các ngày 20/10, 20/11,
                Halloween 31/10, các ngày Lễ, Tết, suất chiếu sớm và suất chiếu đặc biệt.
              </b>
            </p>
          </div>

          <br />

          <p>
          <div style="margin-left: 0px;">
            <p class="p-giave">
              <b style="font-weight: 900;">
                * Mua vé xem phim tập thẻ, hợp đồng khoán gọn: Phòng chiếu phim - (024) 35148647.
              </b>
            </p>
            <p class="p-giave">
              <b style="font-weight: 900;">
                * Thuê phòng tổ chức Hội nghị, làm văn phòng, quảng cáo và các dịch vụ khác: Phòng Dịch vụ - (024)
                35142856
              </b>
            </p>
          </div>

          <br />

          <div style="margin: auto; max-width: 731px;">
            <p>
              ĐỀ NGHỊ QUÝ KHÁN GIẢ LƯU Ý KHI MUA VÉ XEM PHIM (ĐẶC BIỆT KHI MUA VÉ ONLINE).
              TTCPQG KHÔNG CHẤP NHẬN HOÀN TIỀN HOẶC ĐỔI VÉ ĐÃ THANH TOÁN THÀNH CÔNG KHI MUA VÉ ONLINE VÀ VÉ MUA SAI
              QUY ĐỊNH TẠI QUẦY VÉ.
            </p>
          </div>

          <br />

          <div style="text-align: center;">
            <p>
              Rất mong Quý khán giả phối hợp thực hiện.
            </p>
          </div>
          <div style="text-align: center;">
            <p>
              Xin trân trọng cảm ơn!
            </p>
          </div>



          <br />
          <br />


          <p>
            <b style="font-weight: 900;">
              * Ticket pricing policy for priority audiences watching movies at the cinema:
            </b>
          <div style="margin-left: 17px;">
            <p class="p-giave">
              - Discount 20% on ticket price for: Children and teenagers (under 16 years old), elderly people
              (Vietnamese citizens aged from 60 years old), revolutionary contributors, people with difficult living
              conditions.
            </p>
            <p class="p-giave">
              - Discount 50% on ticket price as regulations for: People with severe disabilities.
            </p>
            <p class="p-giave">
              - Discount 100% on ticket price for: People with particularly severe disabilities; Children under 0.7m
              accompanied by adults.
            </p>
          </div>

          <br />

          <div style="margin-left: 34px;">
            <p class="p-giave">
              <b style="font-weight: 900;"><i>Condition:</i></b><br />
              - Only applicable when buying tickets at the counter (not applicable for online tickets).<br />
              - The above-mentioned audiences must present Identification Documents when buying movie tickets and
              before entering the screening room. Particularly:<br />
            <div style="margin-left: 45px;">
              <p class="p-giave">
                + Teenagers (14-16 years old), elderly people: must present "ID card".
              </p>
              <p class="p-giave">
                + Revolutionary contributors: must present a certificate as prescribed.
              </p>
              <p class="p-giave">
                + People with difficult living conditions: must present "Certificate of Poor Household".
              </p>
              <p class="p-giave">
                + People with disabilities: must present "Certificate of Disability".
              </p>
            </div>
          </div>

          <br />

          <p>
          <div style="margin-left: 0px;">
            <p class="p-giave">
              <b style="font-weight: 900;">
                * Special promotion for student who is <b class="change-color">22</b> years old and under: <b
                  class="change-color">From Monday to Friday 50.000</b> <b>đ/2D</b> ticket for all slot times
                <i>(only apply for direct purchase at the ticket stall, one student card can buy one ticket/day,
                  student should show their U22 and student cards to get this priority).</i>
              </b>
            </p>
          </div>

          <br />

          <p>
          <div style="margin-left: 0px;">
            <p class="p-giave">
              <b style="font-weight: 900;">
                * Strict implementation of audience classification according to their ages: P, C13, C16, C18.
                (Violation will be sanctioned according to the provisions
                of Decree 128/2022/ND-CP dated on December 30, 2022).
              </b>
            </p>
          </div>

          <br />

          <p>
          <div style="margin-left: 0px;">
            <p class="p-giave">
              <b style="font-weight: 900;">
                * Tickets for movies ending after 22:00 are not sold to teenagers under 13 years old and tickets for
                movies ending after 23:00 are not sold to teenagers under 16 years old.
              </b>
            </p>
          </div>

          <br />

          <p>
          <div style="margin-left: 0px;">
            <p class="p-giave">
              <b style="font-weight: 900;">
                * Holiday price is applied on:
              </b>
            </p>
            <div style="margin-left: 18px;">
              <p class="p-giave">
                - The public holidays as prescribed by state: New year, Lunar new year, Hung's King festival (March
                10th - lunar calender), April 30th, May 1st, September 2nd.
              </p>
              <p class="p-giave">
                - Days: Valentine, Women's Day, Noel.
              </p>
              <p class="p-giave">
                - Compensatory days off due to holidays coinciding with Saturday and Sunday.
              </p>
            </div>
          </div>

          <br />

          <p>
          <div style="margin-left: 0px;">
            <p class="p-giave">
              <b style="font-weight: 900;">
                * Do not apply preferential programs and different promotional ones in the day 20/10, 20/11,
                Halloween 31/10, holidays, sneak show and special show.
              </b>
            </p>
          </div>

          <br />





          <div style="margin: auto; max-width: 731px;">
            <p>
              VALUED AUDIENCES PLEASE TAKE INTO CONSIDERATION WHEN BUYING MOVIE TICKETS (ESPECIALLY FOR ONLINE
              TICKETS). THE NATIONAL CINEMA CENTER DOES NOT ACCEPT REFUNDS OR
              EXCHANGES OF SUCCESSFULLY PAID TICKETS (ONLINE TICKETS AND INCORRECTLY PURCHASED TICKETS AT THE
              COUNTER)
            </p>
          </div>

          <br />

          <div style="text-align: center;">
            <p>
              Thank you for your valued cooperation.
            </p>
          </div>

          <div style="text-align: center;">
            <p>
              Best Regards!
            </p>
          </div>


        </div>
      </div>
    <!-- <footer>
        <h4>*LƯU Ý: ĐỀ NGHỊ QUÝ KHÁN GIẢ LƯU Ý KHI MUA VÉ XEM PHIM (ĐẶC BIỆT KHI MUA VÉ ONLINE). RẠP AMENIC KHÔNG CHẤP NHẬN
            HOÀN TIỀN HOẶC ĐỔI VÉ ĐÃ THANH TOÁN THÀNH CÔNG KHI MUA VÉ ONLINE VÀ VÉ MUA SAI QUY ĐỊNH TẠI QUẦY VÉ.</h4>
        <div class="footer-sub">
            <a>Rất mong Quý khán giả phối hợp thực hiện.</a>
            <br>
            <a>Xin trân trọng cảm ơn!</a>
        </div>

    </footer> -->
</div>