<div *ngIf="isLoading" class="loading">
    <div class="spinner-border text-danger spinner-center" role="status"></div>
</div>

<div class="main-content" id="id">
    <div class="container-fluid">
        <div class="car custom-card " sytle="margin:0">
            <mat-drawer-container class="example-container" autosize>
                <div class="add-tabs">
                    <a class="example-add-tab-button" (click)="addTab(true)">
                        <i class="fas fa-plus"></i>
                    </a>
                </div>
                <div class="btn-menu">
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <i class="fa-solid fa-bars"></i>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item [routerLink]="['/order']">
                            <span>Quản lý</span>
                        </button>
                        <button mat-menu-item (click)="onLogout()">
                            <span>Đăng xuất</span>
                        </button>
                    </mat-menu>
                </div>
                <form class="example-form" *ngIf="tabs.length > 0">
                    <input class="input" [formControl]="productInput" [matAutocomplete]="auto1"
                           placeholder="Vui lòng nhập tìm kiếm">
                    <mat-autocomplete #auto1="matAutocomplete">
                        <mat-option class="mat-option-custom" *ngFor="let pro of filteredProduct | async" [value]="pro.id" (click)="openDialog(pro)">
                            <a class="search-product" >

                                <div class="img-product-search">
                                    <img
                                         src="{{pro.thumnail}}">
                                </div>
                                <div class="info-product-search">
                                    <p class="name-product-search" #tooltip="matTooltip"
                                       matTooltip="{{pro.name.length>40?pro.name:''}}">{{pro.name}}</p>
                                    <span class="price-product-search"> {{pro.price| currency:' ':'symbol':'0.0-2'}}₫</span>
                                </div>
                            </a>
                        </mat-option>
                    </mat-autocomplete>
                </form>
                <div (click)="openDialogSacnner(scanner)" *ngIf="tabs.length > 0" class="scanner"><i class="fa-solid fa-barcode"></i></div>
                <mat-tab-group [selectedIndex]="selected.value" [color]="'accent'" animationDuration="0ms"
                               (selectedIndexChange)="selected.setValue($event);getItemByTabs()">
                    <mat-tab *ngFor="let tab of tabs; let index = index" id="tab-{{index}}">
                        <ng-template mat-tab-label>
                            <div> Hóa đơn {{tab}}
                                <button class="delete-tab" (click)="removeTab(index)"><i class="fas fa-times"></i>
                                </button>
                            </div>
                        </ng-template>

                        <ng-template matTabContent>
                            <div class="order-content">
                                <div class="left-order">
                                    <div class="product">
                                        <div class="list-category">
                                            <ul>
                                                <li *ngFor="let cate of listCate; let index = index">
                                                    <button class="btn-category" (click)="fillProduct(index)">
                                                        {{cate.name|uppercase}}
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="list-product" style="padding: 5px">
                                            <div class="row ">
                                                <div class="col-sm-6 col-lg-4 product-item"
                                                     *ngFor="let product of listProduct">
                                                    <a class="add-product" (click)="openDialog(product)">
                                                        <div class="card-product">
                                                            <div class="img-product">
                                                            <img
                                                                 src="{{product.thumnail}}"></div>
                                                            <div class="info-product">
                                                                <span class="name-product">{{product.name}}</span>
                                                                <span class="price-product">
                                                           <span class="price"> {{product.price| currency:' ':'symbol':'0.0-2'}}₫</span></span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="order">
                                    <div class="right-order">
                                        <form class="form-order">
                                            <div [style.background-color]="order.customer != ''?'#cbcaca': '' "
                                                 class="seach-kh">
                                                <div class="icon-search">
                                                    <i *ngIf="order.customer == ''" class="fas fa-search"></i>
                                                    <i *ngIf="order.customer != ''" class="fa-solid fa-user"></i>
                                                </div>
                                                <div class="kh">
                                                    <input *ngIf="order.customer == ''" class="input-kh"
                                                           [matAutocomplete]="auto2"
                                                           [formControl]="customerInput" placeholder="Tìm khách hàng">
                                                    <div class="link-kh">
                                                        <a *ngIf="order.customer != ''">{{customerName}}</a>
                                                    </div>
                                                </div>
                                                <a class="input-add-kh example-add-tab-button">
                                                    <i *ngIf="order.customer == ''" (click)="openDialogAddKh()"
                                                       class="fas fa-plus"></i>
                                                    <i *ngIf="order.customer != ''" (click)="deleteCustomer()"
                                                       class="fa-solid fa-xmark"></i>
                                                </a>
                                                <mat-autocomplete #auto2="matAutocomplete">
                                                    <mat-option *ngFor="let cus of filteredCustomer | async"
                                                                [value]="cus.id"
                                                                (click)="chooseCustomer()"
                                                    >
                                                        {{cus.fullname }}&#160;-&#160;{{ cus.phone}}
                                                    </mat-option>
                                                </mat-autocomplete>
                                            </div>
                                            <div class="radio-selling">
                                                <mat-radio-group [(ngModel)]="formality" aria-label="Select an option">
                                                    <mat-radio-button [value]="0">Tại quầy</mat-radio-button>
                                                    <mat-radio-button  style="margin-left: 20px" [value]="1">Đơn giao</mat-radio-button>
                                                </mat-radio-group>
                                            </div>
                                        </form>
                                        <div class="order-detail">
                                            <div class="order-item "
                                                 *ngFor="let orderDetail of order.orderDetail;let index = index">
                                                <div class="container-item">
                                                    <div class="item-top">
                                                        <div class="item-delete"><i style="cursor:pointer;"
                                                                                    (click)="deleteDetail(index)"
                                                                                    class="fa-regular fa-trash-can"></i>
                                                        </div>
                                                        <div class="item-name">
                                                            <p style="margin: 0">{{orderDetail.name}}</p>
                                                            <span> <span
                                                                    style="width: 15px;height: 15px; display: inline-block;border: 1px solid gray;"
                                                                    [style.background-color]="orderDetail.colorCode"></span>
                                                            <span> / {{orderDetail.sizeCode}}</span></span>
                                                        </div>
                                                    </div>
                                                    <div class="item-bot">
                                                        <div class="item-quantity">
                                                            <button (click)="minusQuantity(index)"><i
                                                                    class="fa-solid fa-minus"></i></button>
                                                            <input type="text"
                                                                   [style.background-color]="quantityDetail[index]>orderDetail.quantityInventory?'red':''"
                                                                   matTooltip="Kho: {{orderDetail.quantityInventory}}"
                                                                   (keyup)="checkQuantityInput(index);setOrderLocalStorage(listOrders)"
                                                                   [(ngModel)]="quantityDetail[index]"
                                                                   currencyMask
                                                                   [options]="{ prefix: '', thousands: ',',precision: '0' , align:'center',
                                                                   allowNegative :'false'}">
                                                            <button (click)="plusQuantity(index)"><i
                                                                    class="fa-solid fa-plus"></i></button>
                                                        </div>
                                                        <div class="item-price">{{orderDetail.price | currency:' ':'symbol':'0.0-2'}}₫</div>
                                                        <div class="item-total">{{(orderDetail.quantity != '' ? orderDetail.price * orderDetail.quantity : 0)|currency:' ': '':'0.0-0' }}₫</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="order-footer">
                                            <div class="order-total">
                                                <div style="font-size: 16px;padding: 4px;color: black;">TỔNG TIỀN HÀNG
                                                    <span class="total-quantity">{{order.totalQuantity}}</span>
                                                </div>
                                                <div style="flex: 1;text-align: end">{{order.totalPrice| currency:' ':'symbol':'0.0-2'}}₫</div>
                                            </div>
                                            <div>
                                                <div class="row">
                                                    <div class="col-6"><textarea class="order-note"
                                                                                 id="noteOrder"
                                                                                 (change)="setOrderLocalStorage(listOrders)"
                                                                                 [(ngModel)]="order.note"
                                                                                 [value]=" order.note"
                                                                                 placeholder="Ghi chú đơn hàng"></textarea>
                                                    </div>
                                                    <div class="col-6">
                                                        <button class="btn-order" mat-button
                                                                (click)="drawer.toggle();tinhtien();formality == 1 ? clearDataOrder():''">
                                                            {{formality == 0?'THANH TOÁN':'ĐẶT HÀNG'}}
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>

                    </mat-tab>

                </mat-tab-group>
                <mat-drawer #drawer mode="over" position="end" class="example-sidenav">
<!--                    SELLING-->
                    <div class="payment"  *ngIf="formality == 0">
                        <div class="header-payment">
                            <div class="date-time">{{date}}</div>
                            <button class="close-toggle" (click)="drawer.toggle();"><i class="fas fa-times"></i>
                            </button>
                        </div>
                        <div class="customer-info">{{customerName == '' ? 'Khách lẻ' : customerName }}</div>
                        <div class="payment-bot">
                            <div class="payment-content">
                                <div class="payment-content-item">
                                    <div>Tổng tiền hàng <span class="total-quantity">{{order.totalQuantity}}</span>
                                    </div>
                                    <div class="price">{{order.totalPrice | currency:' ':'symbol':'0.0-2'}}₫</div>
                                </div>
                                <div class="payment-content-item">
                                    <div>Giảm giá(%)</div>
                                    <div class="price discount" style="position: relative">
                                        <input type="text" currencyMask id="discount"
                                               (keyup)="tinhtien()"
                                               [options]="{ prefix: '', thousands: '',precision: '0'  ,allowNegative :'false',min :'0',max:'100'}"
                                               class="" [(ngModel)]="discount">
                                        <span style="position: absolute;right: 0;top:1px">%</span>
                                        <div style="font-size: 19px;padding-top: 7px;font-weight: 500;"
                                             *ngIf="discount>0">
                                            (-{{discount * order.totalPrice / 100| currency:' ':'symbol':'0.0-2'}}₫)
                                        </div>
                                    </div>
                                </div>
                                <div class="payment-content-item">
                                    <div class="bold">Khách cần trả</div>
                                    <div class="price">{{ order.totalPrice - discount * order.totalPrice / 100 | currency:' ':'symbol':'0.0-2'}}₫</div>
                                </div>
                                <div class="payment-content-item" *ngIf="discount<100">
                                    <div class="bold">Khách thanh toán</div>
                                    <div class="price"><input type="text" currencyMask
                                                              [options]="{ prefix: '', suffix:'đ', thousands: ',',precision: '0'  ,allowNegative :'false',max: '999999999999'}"
                                                              class="customer-payment" [(ngModel)]="customerPayment">
                                    </div>
                                </div>
                                <div class="list-price-payment" *ngIf="discount<100 && listTien.length>0">
                                    <button class="btn-price-payment" (click)="clickPrice(index)"
                                            *ngFor="let price of listTien;let index = index">
                                        {{price| currency:' ':'symbol':'0.0-2'}}₫
                                    </button>
                                </div>
                                <div class="payment-content-item"
                                     *ngIf="customerPayment>order.totalPrice - discount*order.totalPrice/100 && discount < 100">
                                    <div class="bold">Tiền thừa trả khách</div>
                                    <div class="price">{{customerPayment - (order.totalPrice - discount * order.totalPrice / 100)| currency:' ':'symbol':'0.0-2'}}₫
                                    </div>
                                </div>
                            </div>
                            <div class="payment-footer">
                                <button class="btn-order" mat-button (click)="selling(formality)">
                                    THANH TOÁN
                                </button>
                            </div>
                        </div>
                    </div>


<!--                    // ORDER-->
                    <div class="payment" *ngIf="formality == 1">
                        <div class="header-payment">
                            <div class="date-time">{{date}}</div>
                            <button class="close-toggle" (click)="drawer.toggle();"><i class="fas fa-times"></i>
                            </button>
                        </div>
                        <div class="customer-info">{{customerName == '' ? 'Khách lẻ' : customerName }}</div>
                        <div class="payment-bot">
                            <div class="payment-content">
                                <div class="row mb-3">
                                    <div class="u-s-m-b-30 col-6 pl-0">
                                        <label for="customer-name-order" class="gl-label">HỌ TÊN <span class="text-danger">*</span></label>
                                        <input  [style.border]="name.touched && ship_name.length ==0?'1px solid red':''"
                                                [(ngModel)]="ship_name" type="text" class="input-text" #name="ngModel" id="customer-name-order">
                                    </div>
                                    <div class="u-s-m-b-30 col-6 pr-0">
                                        <label for="customer-phone-order" class="gl-label">SĐT <span class="text-danger">*</span></label>
                                        <input  [style.border]="phone.touched && ship_phone.length ==0?'1px solid red':''"
                                                [(ngModel)]="ship_phone" type="text" class="input-text" #phone="ngModel" id="customer-phone-order">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="u-s-m-b-30 col-6 pl-0">
                                        <!--======TỈNH / THÀNH PHỐ ======-->
                                        <label class="gl-label" for="shipping-country">TỈNH / THÀNH PHỐ <span class="text-danger">*</span></label>
                                        <mat-select
                                                [(ngModel)]="provinceId"
                                                class="select-box"
                                                id="shipping-country">
                                            <mat-option [value]="-1" [disabled]="true">Chọn tỉnh/thành phố</mat-option>
                                            <mat-option  *ngFor="let p of provinces"
                                                         [value]="p.ProvinceID"
                                                         (click)="getDistrict(p.ProvinceID,p.ProvinceName);resetDistrictAndWard()">
                                                {{p.ProvinceName}}
                                            </mat-option>
                                        </mat-select>
                                        <!--====== TỈNH / THÀNH PHỐ ======-->
                                    </div>
                                    <div class="u-s-m-b-30 col-6 pr-0">
                                        <!--====== QUẬN / HUYỆN  ======-->
                                        <label class="gl-label" for="shipping-state">QUẬN / HUYỆN <span class="text-danger">*</span></label>
                                        <mat-select
                                                [(ngModel)]="districtId"
                                                class="select-box"
                                                id="shipping-state">
                                            <mat-option [value]="-1" [disabled]="true">Chọn quận/huyện</mat-option>
                                            <mat-option  *ngFor="let d of district"
                                                         [value]="d.DistrictID"
                                                         (click)="getWard(d.DistrictID, d.DistrictName);resetWard()">
                                                {{d.DistrictName}}
                                            </mat-option>
                                        </mat-select>
                                        <!--====== QUẬN / HUYỆN  ======-->
                                    </div>

                                </div>
                                <div class="row mt-3 mb-5">
                                    <div class="u-s-m-b-30 col-6 pl-0">
                                        <!--====== PHƯỜNG / XÃ * ======-->
                                        <label class="gl-label" for="shipping-state">PHƯỜNG / XÃ <span class="text-danger">*</span></label>
                                        <mat-select
                                                [(ngModel)]="wardId"
                                                class="select-box">
                                            <mat-option [value]="-1" [disabled]="true"> Chọn phường/xã</mat-option>
                                            <mat-option *ngFor="let w of wards"
                                                        [value]="w.WardCode"
                                                        (click)="getWardName(w.WardName)">
                                                {{w.WardName}}
                                            </mat-option>
                                        </mat-select>
                                        <!--======PHƯỜNG / XÃ * ======-->
                                    </div>
                                    <div class="u-s-m-b-30 col-6 pr-0 ">
                                        <label for="customer-other-address" class="gl-label">SỐ NHÀ/THÔN, XÓM <span class="text-danger">*</span></label>
                                        <input  [style.border]="address.touched && ship_address.length ==0?'1px solid red':''"
                                                [(ngModel)]="ship_address" type="text" class="input-text" #address="ngModel" id="customer-other-address">
                                    </div>
                                </div>
                                <div class="payment-content-item">
                                    <div class="bold">Tổng tiền hàng <span class="total-quantity">{{order.totalQuantity}}</span>
                                    </div>
                                    <div class="price">{{order.totalPrice | currency:' ':'symbol':'0.0-2'}}₫</div>
                                </div>
                                <div class="payment-content-item">
                                    <div class="bold">Phí ship</div>
                                    <div class="price">{{ shippingTotal | currency:' ':'symbol':'0.0-2'}}₫</div>
                                </div>
                                <div class="payment-content-item">
                                    <div class="bold">Khách cần trả</div>
                                    <div class="price">{{ order.totalPrice + shippingTotal | currency:' ':'symbol':'0.0-2'}}₫</div>
                                </div>
                            </div>
                            <div class="payment-footer">
                                <button class="btn-order" mat-button (click)="selling(formality)">
                                    ĐẶT HÀNG
                                </button>
                            </div>
                        </div>
                    </div>
                </mat-drawer>
            </mat-drawer-container>
        </div>
    </div>
</div>
<div id="demo">
</div>

<ng-template #scanner>
    <div class="scanner-shell" [hidden]="!hasDevices">

        <header>
            <mat-form-field appearance="fill">
                <select matNativeControl matInput (change)="onDeviceSelectChange($event.target.value)">
                    <option value="" [selected]="!currentDevice">No Device Selected</option>
                    <option *ngFor="let device of availableDevices" [value]="device.deviceId"
                            [selected]="currentDevice && device.deviceId === currentDevice.deviceId">{{device.label}}</option>
                </select>
            </mat-form-field>
        </header>

        <zxing-scanner [torch]="torchEnabled"
                       [(device)]="currentDevice"
                       (scanSuccess)="onCodeResult($event)"
                       [tryHarder]="tryHarder"
                       (permissionResponse)="onHasPermission($event)"
                       (camerasFound)="onCamerasFound($event)"
                       (torchCompatible)="onTorchCompatible($event)"
                       [timeBetweenScans] = "5000"
                       [formats]="['QR_CODE', 'EAN_13', 'EAN_8']"></zxing-scanner>

        <section class="results">
            <div>
                <span id="qrResult"></span>
            </div>
            <button mat-icon-button (click)="clearResult()">&times;</button>
        </section>

    </div>

    <ng-container *ngIf="hasPermission === undefined">

        <h2>Waiting for permissions.</h2>

        <blockquote>
            If your device does not has cameras, no permissions will be asked.
        </blockquote>

    </ng-container>

    <ng-container *ngIf="hasPermission === false">

        <h2>You denied the camera permission, we can't scan anything without it. 😪</h2>

    </ng-container>

    <ng-container *ngIf="hasDevices === undefined">

        <h2>Couldn't check for devices.</h2>

        <blockquote>
            This may be caused by some security error.
        </blockquote>

    </ng-container>

    <ng-container *ngIf="hasDevices === false">

        <h2>No devices were found.</h2>

        <blockquote>
            I believe your device has no media devices attached to.
        </blockquote>

    </ng-container>

    <div class="col-12 mt-3" style="text-align: center">
        <button type="button" (click)="this.scanner2.close()"  class="btn btn-danger">Đóng</button>
    </div>
</ng-template>
