<h1 mat-dialog-title class="text-center h3 font-weight-bold">
  Bạn có muốn in mã vận đơn không?
</h1>
<div mat-dialog-content></div>
<div mat-dialog-actions class="text-center">
  <div>
    <a class="btn btn-success" mat-button cdkFocusInitial mat-dialog-close (click)="close()" target="_blank" [href]="'https://dev-online-gateway.ghn.vn/a5/public-api/printA5?token='+dataDialog">Đồng ý</a>
    <button mat-button mat-dialog-close (click)="close()" class="btn btn-dark" mat-button mat-dialog-close>Hủy</button>
  </div>
</div>