<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center mb-3 mt-3">
                <h2 class="title font-weight-bolder">Thông tin liên hệ</h2>
            </div>
            <div class="col-md-12 text-center mb-5">
                <i style="font-size: 40px;" class="material-icons">
                    contacts
                    </i>
            </div>
        </div>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.4147270924136!2d105.81323181086253!3d21.016085488132873!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab635d89e4df%3A0x4cae065ea8a7a23f!2zUuG6oXAgQ2hp4bq_dSBQaGltIFF14buRYyBHaWEgLSBUaMOhaSBIw6A!5e0!3m2!1svi!2s!4v1683208410133!5m2!1svi!2s"
            width="100%" height="350px" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>

        <div class="row justify-content-center mt-5">
            <div class="col-md-12">
                <div class="row mb-5">
                    <div class="col-md-3">
                        <div class="dbox w-100 text-center">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="fa fa-map-marker"></span>
                            </div>
                            <div class="text">
                                <p>
                                    <span>Địa chỉ: </span> Số 12, Lô TT3A Khu Đô Thị Mới Phùng Khoang, Nam Từ Liêm, Hà
                                    Nội, Việt Nam
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="dbox w-100 text-center">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="fa fa-phone"></span>
                            </div>
                            <div class="text">
                                <p>
                                    <span>Điện thoại: </span>
                                    <a href="tel://+8498 946 79 58">+8498 946 79 58</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="dbox w-100 text-center">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="fa fa-paper-plane"></span>
                            </div>
                            <div class="text">
                                <p>
                                    <span>Email: </span>
                                    <a href="mailto:Amenic@rapchieuphim.com">amenic@rapchieuphim.com</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="dbox w-100 text-center">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="fa fa-globe"></span>
                            </div>
                            <div class="text">
                                <p><span>Website: </span> <a href="#">amenic.com</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-md-7">
                        <div class="contact-wrap w-100 p-md-5 p-4">
                            <h3 class="mb-4 text-uppercase">Liên hệ chúng tôi</h3>
                            <div id="form-message-warning" class="mb-4"></div>
                            <div id="form-message-success" class="mb-4">
                                Tin nhắn của bạn đã được gửi, cảm ơn bạn!
                            </div>
                            <form method="POST" id="contactForm" name="contactForm" class="contactForm">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="label" for="name">Họ và tên</label>
                                            <input type="text" class="form-control" name="name" id="name"
                                                placeholder="Họ và tên" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="label" for="email">Email</label>
                                            <input type="email" class="form-control" name="email" id="email"
                                                placeholder="Email" />
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="label" for="subject">Vấn đề</label>
                                            <input type="text" class="form-control" name="subject" id="subject"
                                                placeholder="Vấn đề" />
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="label" for="#">Lời nhắn</label>
                                            <textarea name="message" class="form-control" id="message" cols="30"
                                                rows="4" placeholder="Lời nhắn"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input disabled type="submit" value="Gửi lời nhắn"
                                                class="btn btn-primary" />
                                            <div class="submitting"></div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="h-100 w-100 p-5 img" style="background-image: url(../../../assets/img/pixabay.jpg)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>