<div class="row">
    <div class="col-12 left-menu">
        <ul>
            <li class="menu-title">TÀI KHOẢN AMENIC<i class="material-icons">expand_more</i></li>
            <li><a routerLink="/user-info"><i class="material-icons">dashboard</i><b>Thông tin tài khoản</b></a></li>
            <li><a routerLink="/form-person"><i class="material-icons">person</i><b>Chi tiết tài khoản</b></a></li>
            <li><a routerLink="/transaction"><i class="material-icons">receipt_long</i><b>Lịch sử giao dịch</b></a></li>
            <li><a routerLink="#"><i class="material-icons">card_membership</i><b>Thẻ thành viên</b></a></li>
            <li><a routerLink="#"><i class="material-icons">confirmation_number</i><b>Voucher</b></a></li>
            <li><a routerLink="#"><i class="material-icons">payment</i><b>Thanh toán</b></a></li>
        </ul>
    </div>
</div>