.disabled-btn{
  //color: rgba(0,0,0,.26) !important;
  cursor: not-allowed !important;
  opacity: 0.5;
}

.checked-btn{
  border: 2px solid black !important ;
  .img-checked{
    display: block;
  }
}

.button{
  margin-right: 20px;
  border:1px solid gray;
}

.button-color, .button-size{
  flex-basis: 320px;
  flex-wrap: wrap;
  display: flex;
  flex:3;
}

.color .button{
  min-height: 35px;
  min-width: 35px;
  border-radius: 20px;
  margin-bottom: 6px;
}

.size .button{
  line-height: 0;
  min-height: 35px;
  min-width: 35px;
  background-color: white;
  position: relative;
  margin-bottom: 10px;
}

.color {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.color span, .size span, .quantity span{
  font-size: 17px;
  flex:1;
}

.size {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.quantity{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.quantity-input{
  flex-basis: 320px;
  display: flex;
  flex:3
}

input.quantity-detail {
  width: 50px;
  height: 25px;
  text-align: center;
  border: 1px solid black;
  font-size: 13px;
  font-weight: 500;
  border-right: none;
  border-left: none;
}

.product-name {
  font-size: 30px;
  text-align: center;
  font-weight: 500;
  margin: 10px 0px 40px 0px;
  line-height: 40px;
}

.flex{
  display: flex;
}

.quantity-input button{
  font-weight: 900;
  border: 1px solid;
  height: 25px;
  line-height: 0px;
  font-size: 18px;
  width: 24px;
  text-align: center;
  padding: 0px 0 0 0;
  margin: 0px;
  box-sizing: border-box;
  align-items: center;
  background-color: white;
}

.img-checked{
  position: absolute;
  height: 25px;
  top: 7px;
  right: -1px;
  display: none;
}
