<div class="container-fluid">
    <div class="header-details">
        <div class="product-name">{{product.name | uppercase}}</div>
    </div>
    <div class="color flex">
        <span style="padding-top: 5px">Color: </span>
        <div class="button-color">
            <div  *ngFor="let item of listColorOfProduct">
            <button class="button"
                    [style.background-color]="item.code"
                    [class.checked-btn]="listColorOfProduct.click != undefined?listColorOfProduct.click == item.id:false"
                    (click)="color.length == 0||color.includes(item.id)?clickSizeOrColor('color',item.id):''"
                    [class.disabled-btn]="listSizeOfProduct.click?!color.includes(item.id):false"></button>
            </div>
        </div>
    </div>
    <div class="size flex">
        <span style="padding-top: 5px">Size: </span>
        <div class="button-size">
            <button class="button" *ngFor="let item of listSizeOfProduct"
                    [class.checked-btn]="listSizeOfProduct.click?listSizeOfProduct.click == item.id:false"
                    (click)="size.length == 0||size.includes(item.id)?clickSizeOrColor('size',item.id):''"
                    [class.disabled-btn]="listColorOfProduct.click != undefined?!size.includes(item.id):false">
                <label style="margin: 0;color:black;cursor: pointer"
                       [class.disabled-btn]="listColorOfProduct.click != undefined?!size.includes(item.id):false">
                    {{item.code}}<img class="img-checked" src="../../../../../../assets/img/imgok.png" alt=""></label>
                </button>
        </div>
    </div>
    <div class="quantity flex">
        <span>Số lượng: </span>
        <div class="quantity-input">
            <button (click)="minusQuantity()"><i class="fa-solid fa-minus"></i></button>
            <input type="text" class="quantity-detail"
                   (keyup)="checkQuantityInput()"
                   [(ngModel)]="quantityinput"
                   currencyMask
                   [options]="{ prefix: '', thousands: ',',precision: '0' , align:'center',
                                                                   allowNegative :'false',max:quantityInventory, min: 1}"
            >
            <button (click)="plusQuantity()"><i class="fa-solid fa-plus"></i></button>
            <div style="margin-left: 10px" *ngIf="quantityInventory>0">Còn lại trong kho {{quantityInventory}}</div>
        </div>
    </div>
    <p style="color: red;font-size: 15px" *ngIf="message != ''">{{message}}</p>



    <div class="col-12 mt-3" style="text-align: center">
        <button class="btn btn-success" (click)="onSubmit()">Xác nhận</button>
        <button type="button" (click)="onDismiss()" class="btn btn-danger">Đóng</button>
    </div>
</div>

